<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
        <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />


</head>

<body>
    <%- include("../partials/aside.ejs") %>
        <section id="content">
            <%- include('../partials/header.ejs') %>
                <!---------- left aside ------------->


                <main>

                    <div class="header">
                        <h1> Hasta Raporları</h1>
                    </div>


                    <div class="search">
                        <form autocomplete="off" action="" class="horizontal-form" id="user-reports-search">

                            <div class="form-group">Kayıt tarihi Başlangıç:
                                <input type="date" name="startDate" class="startDate"
                                    value="<%= new Date().toISOString().substr(0, 10) %>">
                            </div>
                            <div class="form-group">Kayıt tarihi Bitiş:
                                <input type="date" name="endDate" class=""
                                    value="<%= new Date().toISOString().substr(0, 10) %>">
                            </div>
                            <div class="form-group">Doğum Tarihi:
                                <input type="date" name="birthDate" class=""
                                    value="">
                            </div>
                            <div class="form-group">Cinsiyet:
                                <select class="chosen-select" name="sex" id="sex">
                                    <option value=""  selected disable hidden>Seçiniz</option>
                                    <option value="male">Erkek</option>
                                    <option value="female">Kadın</option>
                                </select>
                            </div>
                            
                                <div class=" form-group horizontal">Randevu geçmişi:
                                                <select class="chosen-select" name="firstAppointment" id="firstAppointment"
                                                    data-placeholder="Durum seçiniz.">
                                                    <option value="" selected disable hidden>Seçiniz</option>
                                                  <option value="true">Var</option>
                                                  <option value="false">Yok</option>

                                                </select>
                                                
                            </div>




                            <div class="form-group" style="align-self: end;">
                                <button type="submit" class="btn save" >Ara</button>
                                  
                            </div>


                        </form>

                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="search">
                            <div class="form-group">Toplu İşlemler:
                                <select name="operationType" id="operationType">
                                    <option value="" selected hidden disabled>Seçiniz</option>
                                    <option value="sendMessage">Mesaj gönder</option>
                                </select>
                            </div>


                    </div>

                    <div class="print">

                        <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                        <div class="print-selection">
                            <label>Yazdır&nbsp; &#10140</label>
                            <label for="" class="to_pdf">PDF<span
                                    class="material-symbols-sharp">picture_as_pdf</span></label>

                            <label for="" class="to_xlsx">XLSX<span
                                    class="material-symbols-sharp">description</span></label>
                        </div>

                    </div>

                    <div class="table-wrapper">
                        <table id="user-report-table">
                            <thead>
                                <th>
                                    <div>
                                        <div style="display: flex;flex-direction: column;">Hepsini Seç
                                            <input type="checkbox" name="" id="check-all">
                                        </div>
                                    </div>
                                </th>
                                
                                <th>Kayıt Tarih<i class="fa-solid fa-arrow-up"></i></th>
                                <th>İsim<i class="fa-solid fa-arrow-up"></i></td>
                                <th>Soyisim<i class="fa-solid fa-arrow-up"></i></td>
                                <th>Cinsiyet<i class="fa-solid fa-arrow-up"></i></td>
                                <th>Telefon<i class="fa-solid fa-arrow-up"></i></td>
                                <th>Email<i class="fa-solid fa-arrow-up"></i></td>
                                <th>Randevu geçmişi<i class="fa-solid fa-arrow-up"></i></td>
                                <th>Doğum Günü<i class="fa-solid fa-arrow-up"></i></td>
                            </thead>
                            <tbody >
                                <% reports.forEach((element,index)=> { %>
                                    <tr data-userID="<%= element._id %>">

                                        <td>
                                           <div style="display: flex; align-items: center; justify-content: center; gap:0.5rem;">
                                            <label for=""><%= index+1 %></label>
                                            <input type="checkbox" name="" id="">
                                           </div>
                                        </td>
                                        
                                        <td>
                                            <%= element.createdAt.toLocaleTimeString([],{hours:"2-digit",minutes:"2-digit"})%>
                                        </td>
                                        <td>
                                           <%= element.name %>
                                        </td>
                                        <td>
                                            <%= element.surname %>
                                        </td>
                                        <td>
                                            <%= element.sex %>
                                        </td>
                                        <td>
                                            <%= element.phone %>
                                        </td>
                                        <td>
                                            <%= element.email %>
                                        </td>

                                        <td>
                                            <span class="">
                                                <%=element.appointmentState%>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="">
                                                <% if (element.birthDate) { %>
                                                    <%=new Date(element.birthDate).toLocaleDateString()%>
                                                <% } %>
                                               
                                            </span>
                                        </td>

                                        <td class=" details"><a href="../users/<%= element._id %>">Detay</a>
                                        </td>
                                    </tr>
                                    <% }) %>

                                       


                            </tbody>


                        </table>

                    </div>

                    <div class="pagination-describe">
                        <div>
                            <span id="lastpage"><%= lastpage %></span> Sayfa, Toplam <span id="total"><%= total %></span> Sonuç bulundu
                        </div>
                        
                    </div>
                    <div class="pagination" id="pagination">

                        <% if (pagination.previous ) { %>
                            <span class="pagination-buttons" data-pageNumber="<%= pagination.page - 1 %>">
                                Önceki Sayfa<<
                                </span>
                            <% } %>

                                        <% if (pagination.page>1) { %>
                                            <span class="pagination-buttons" data-pageNumber="<%= pagination.page %>">
                                              <%= pagination.page - 1 %>
                                                </span>
                                            <% } %>

                                            <span class="pagination-buttons page-active" data-pageNumber="<%= pagination.page %>">
                                                <%= pagination.page %>
                                              </span>

                                                <% if (pagination.page<pagination.lastpage) { %>
                                                    <span class="pagination-buttons" data-pageNumber="<%= pagination.page +1%>">
                                                      <%= pagination.page+1 %>
                                                      </span>
                                                    <% } %>


                                                        <% if (pagination.next) { %>
                                                            <span class="pagination-buttons" data-pageNumber="<%= pagination.page +1%>">
                                                                 >>Sonraki Sayfa
                                                              </span>
                                                            <% } %>

                                                            

                    </div>

                </main>

                </seciton>
                <div class="modal hidden" id="send_sms_modal">
                    <div class="inner_modal">
                        <h2>Toplu Sms</h2>
                        <form action="../sms/sendSms" method="POST" id="send-sms-form">
                            <div class="form-group ">Mesaj Şablonu:
                                <select name="smsName" id="smsName">
                                    <option value="" selected disabled hidden>Seçiniz</option>
                                    <% locals.company.smsTemplates.forEach(sms => { %>
                                       
                                     <option data-smsContent="<%= sms.content %>" value="<%= sms.smsName %>"><%= sms.smsName %></option>
                                    <% }) %>
                                    <option data-smsContent="" value="" >Özel Sms</option>
                                </select>
                            </div>
                            
                                <div class="form-group">
                                    <span>Mesaj:</span>
                                    <% locals.company.smsTemplates.forEach(element => { %>
                                    <input placeholder="" class="message-contents" style="display:none" type="text" name="content" value="<%= element.content %>">
                                    <% }) %>
                                    <input placeholder="" class="message-contents" style="display:none" type="text" name="content" value="" aria-placeholder="aaa">
                                </div>
                          
                            
                            <div class="form-group">
                                <button type="submit" class="btn save form-btn" id="add-user">Kaydet</button>
                                <button type="button" class="btn cancel form-btn">Vazgeç</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="information-modal-wrapper"></div>

                <script type="module" src="/js/usersReports.js"></script>
                <script type="module" src="/js/inner_modules/tables.js"></script>
                <script type="module" src="/js/inner_modules/print.js"></script>
                <script type="module" src="/js/reports.js"></script>

                <script src="/js/sidebar.js"></script>



</body>

</html>