<header>
    <div class="head">
        <img src="/photos/logo.png" alt="">
    </div>
    <div>
        <div>
           Üyelik Bitiş: <%=(new Date(locals.company.subscribeEndDate).toLocaleDateString("tr-TR"))%>
        </div>
       
        <div>
            <% if(!locals.employee.permissions.includes("settings_view")){ %>
                <li onclick="alert('yetkili değilsiniz');return false" class="deactivate" title="Yetkiniz Yok">
                   
                        <a href="/admin/settings" title="işletme ayarları"><i class="ph ph-buildings clickable-icon"></i></a>
                        <span class="text">
                            <%= locals.company.brandName || "İşletme Adı" %>
                        </span>
                   
                </li>
                <% } else{ %>
                    <a href="/admin/settings" title="işletme ayarları"><i class="ph ph-buildings clickable-icon"></i></a>
                    <span class="text">
                        <%= locals.company.brandName || "İşletme Adı" %>
                    </span>
                    <% } %>

        </div>
        
        <div>
            <a href="/admin/employeeSelf/<%= locals.employee._id %>" title="kullanıcı ayarları"><i class="ph ph-user-circle clickable-icon"></i></a>
            
            <span> <%= locals.employee.name ||"kullanıcı adı" %></span>/
            <span> <%= locals.employee.role %></span>
        </div>
        <div><span> <%= locals.company.subscribeType%></span></div>
    </div>


    </div>

    <a href="/admin/logout" class="logout">
       
        <i class="fa-solid fa-right-from-bracket"></i>
        <span class="text">Çıkış</span>
    </a>


</header>