<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/sessions.css">
    
    <%- include('partials/head.ejs') %>
</head>

<body>

    <%- include('partials/aside.ejs') %>
        <section id="content">
            <!---------- left aside ------------->

            <%- include('partials/header.ejs') %>

                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> Randevular</h1>
                    </div>

                    <div class="main main-sessions">


                        <div class="left">
                            <div class="calendar">
                                <div class="month">
                                    <i class="prev ph ph-caret-left"></i>
                                    <div class="calendar-head">ppp ppp</div>
                                    <i class="next ph ph-caret-right"></i>
                                </div>
                                <div class="weekdays">
                                    <div>Pt</div>
                                    <div>Sa</div>
                                    <div>Ça</div>
                                    <div>Pe</div>
                                    <div>Cu</div>
                                    <div>Ct</div>
                                    <div>Pz</div>
                                </div>
                                <div class="days">

                                </div>
                                <div class="goto-today">
                                    <div class="goto">
                                        <input type="text" class="date-input" placeholder="mm//yyyy">
                                        <button class="goto-btn">Tarihe Git</button>
                                    </div>
                                    <button class="today-btn">Bugüne Git</button>
                                </div>
                            </div>
                        </div>

                        <div class="right">

                            <div class="today-date">

                                <div class="appointment-list"> pp ppp ppp</div>

                            </div>
                            <div class="add-session"><button id="add-session-btn">Randevu Ekle</button></div>
                            <div class="events-all-doctors">


                            </div>


                        </div>

                    </div>
                </main>
                <div class="modal modal_add_session ">

                    <form action="" onsubmit="return false" method="POST" id="add-session-form">
                        <h2>Randevu Ekle</h2>

                        <div class="add-event-body">
                            <div class="inputs">Hasta:
                                <select name="user" class="" id="user-select" required>
                                    <option value="" selected hidden disable>Hasta seçiniz</option>
                                    <% users.forEach(user=> { %>
                                        <option value="<%= user._id %>">
                                            <%= user.name+" "%><%= user.surname %>
                                        </option>
                                        <% }) %>
                                </select>

                            </div>
                            <div class="inputs">
                                <span>Devam eden İşlemler:</span>
                                <select class="proccess_type_add" id="proccess_type_add">
                                    <option value="" selected hidden disable>Önce hasta seçiniz</option>    
                                </select>

                                <div class="selected_proccess_type_add">

                                </div>

                            </div>
                            <div class="inputs">
                                <span>Yeni İşlemler:</span>
                                <select class="proccess_type_new" id="proccess_type_new">
                                    <option value="" selected hidden disable>İşlem Seçiniz</option>
                                    <% locals.company.services.forEach(element => { %>
                                        <% if (element.activeorNot===true) { %>
                                            <option data-price="<%= element.servicePrice %>" data-id="<%= element._id %>" value="<%= element.serviceName %>"><%= element.serviceName %></option>
                                        <% } %>
                                    <% }) %>   
                                </select>

                                <div class="selected_proccess_type_new">

                                </div>

                            </div>
                            
                           

                            <div class="inputs" hidden>timeIndex:
                                <input type="text" name="timeIndexes" id="" class="timeIndex">
                            </div>
                            <div class="inputs" hidden>timeIndex1:
                                <input type="text" name="timeIndexes" id="" class="timeIndex">
                            </div>
                            <div class="inputs">Başlangıç Saati:
                                <input type="text" name="startHour" id="" class="startHour" readonly>
                            </div>
                            <div class="inputs">Bitiş Saati:
                                <input type="text" name="endHour" id="" class="endHour" readonly>
                            </div>

                            <div class="inputs">Doktor:
                                <input type="text" id="" name="doctorName" class="doctor-name" readonly>
                            </div>
                            <div class="inputs" style="display: none;">DoktorID:
                                <input type="text" name="doctor" id="" class="doctor-id">
                            </div>
                            <div class="inputs">Tarih:
                                <input type="date" name="date" class="event-date-from" readonly>
                            </div>


                            <div class="inputs">Not:
                                <input type="text" name="description" placeholder="notlar">
                            </div>

                            <button type="submit" class="save_button">Seans Ekle +</button>


                            <span class="cancel_button">Vazgeç</span>

                        </div>
                    </form>

                </div>
                
                <div class="information-modal">AAAA</div>
        </section>
        
        <div class="loader_wrapper hidden">
            <svg class="pl" viewBox="0 0 200 200" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="pl-grad1" x1="1" y1="0.5" x2="0" y2="0.5">
                        <stop offset="0%" stop-color="hsl(313,90%,55%)" />
                        <stop offset="100%" stop-color="hsl(223,90%,55%)" />
                    </linearGradient>
                    <linearGradient id="pl-grad2" x1="0" y1="0" x2="0" y2="1">
                        <stop offset="0%" stop-color="hsl(313,90%,55%)" />
                        <stop offset="100%" stop-color="hsl(223,90%,55%)" />
                    </linearGradient>
                </defs>
                
                <circle class="pl__ring" cx="100" cy="100" r="82" fill="none" stroke="url(#pl-grad1)" stroke-width="36" stroke-dasharray="0 257 1 257" stroke-dashoffset="0.01" stroke-linecap="round" transform="rotate(-90,100,100)" />
                <line class="pl__ball" stroke="url(#pl-grad2)" x1="100" y1="18" x2="100.01" y2="182" stroke-width="36" stroke-dasharray="1 165" stroke-linecap="round" />
                
            </svg>
            <text class="">Yükleniyor..</text>
            

        </div>

       
        <script type="module" src="/js/appointments.js"></script>
        <!-- <script type="module" src="../bundles/appointments.js"></script> -->

        <script src="/js/sidebar.js"></script>

</body>

</html>