<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/sessions.css">
   

    <%- include('partials/head.ejs') %>

        <script src="/js/inner_modules/closeModal.js"></script>
        <script src="/js/inner_modules/resetForm.js"></script>
</head>

<body>

    <%- include('partials/aside.ejs') %>
        <section id="content">
            <!---------- left aside ------------->

            <%- include('partials/header.ejs') %>

                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> Randevular</h1>
                    </div>

                    <div class="main main-sessions">


                        <div class="left">
                            <div class="calendar">
                                <div class="month">
                                    <i class="prev ph ph-caret-left"></i>
                                    <div class="calendar-head">ppp ppp</div>
                                    <i class="next ph ph-caret-right"></i>
                                </div>
                                <div class="weekdays">
                                    <div>Pt</div>
                                    <div>Sa</div>
                                    <div>Ça</div>
                                    <div>Pe</div>
                                    <div>Cu</div>
                                    <div>Ct</div>
                                    <div>Pz</div>
                                </div>
                                <div class="days">

                                </div>
                                <div class="goto-today">
                                    <span class="today-btn">Bugüne Git</span>
                                </div>
                            </div>
                        </div>

                        <div class="right">

                            <div class="today-date">

                                <div class="appointment-list"> pp ppp ppp</div>

                            </div>
                            <div class="add-session"><button id="add-session-btn">Randevu Eklee</button></div>
                            <div class="doctor-name-area">
                                <% doctors.forEach(element => { %>
                                    <div class="column" data-doctor="<%= element._id %>"><%= element.name+" "+element.surname.charAt(0).toUpperCase()+"."||"Personel1"%></div>
                                <% }) %>
                            </div>  

                            <div class="time-line-area">

                            </div>


                        </div>

                    </div>
                </main>
        </section>
        <div class="toast-container"></div>
        <div class="modal hidden" id="modal_add_appointment">
            <div class="inner_modal">
                <h2>Randevu Ekle</h2>
                <form action="" onsubmit="return false" method="POST" id="add-session-form">


                    <div class="form-group">
                        <span>Hasta:</span>
                        <div style="display: flex; gap: 1rem;">
                            <input required type="text" list="user-names" name="user" id="user-select"
                                autocomplete="off" placeholder="isim soyisim">
                            <button id="add-user-btn" type="button" class="btn-mini">Yeni+</button>
                        </div>


                        <datalist id="user-names">
                            <% locals.usersNames.forEach(element=> { %>

                                <option data-userid="<%= element._id %>"
                                    data-useremail="<%= element.email %>"
                                    data-userdata="<%= element.name+""+element.surname %>"
                                    value="<%= element.name+" "+element.surname %>">

                                </option>
                                <% }) %>

                        </datalist>
                    </div>
                    <div class="form-group">
                        <span>İşlemler:</span>
                        <div class="form-group vertical">
                            <span>Randevu bekleyen:</span>
                            <select class="proccess_type_add" id="proccess_type_add">
                                <option value="" selected hidden disable>Önce hasta seçiniz</option>
                            </select>
                            <span>Yeni:</span>
                            <select class="proccess_type_new" id="proccess_type_new">
                                <option value="" selected hidden disable>İşlem Seçiniz</option>
                                <% locals.company.services.forEach(element=> { %>
                                    <% if (element.activeorNot===true) { %>
                                        <option data-price="<%= element.servicePrice %>" data-id="<%= element._id %>"
                                            value="<%= element.serviceName %>">
                                            <%= element.serviceName %>
                                        </option>
                                        <% } %>
                                            <% }) %>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        
                        
                    </div>
                   
                    <div class="form-group">
                        <div class="selected_proccess">
                        </div>
                    </div>
                    <div class="form-group">Başlangıç Saati:
                        <input type="time" name="startHour" id="" class="startHour">
                    </div>
                    <div class="form-group">Bitiş Saati:
                        <input type="time" name="endHour" id="" class="endHour">
                    </div>

                    <div class="form-group">Personel:
                        <div style="display: flex; gap: 1rem;">
                            <select name="doctor" id="doctor-select-for-add">
                                
                                <% doctors.forEach(element=> { %>
                                   
                                    <option data-doctorid="<%= element._id %>"

                                        data-doctorID="<%= element._id%>"
                                        data-doctordata="<%= element.name+""+element.surname %>"
                                        value="<%= element.name+" "+element.surname %>"> <%= element.name+" "+element.surname %>
                                    </option>
                                    <% }) %>
                            </select>
                            
                        </div>


                    </div>
                    
                    <div class="form-group">Tarih:
                        <input type="date" name="date" class="event-date-form">
                    </div>

                    <div class="form-group">Not:
                        <input type="text" name="description" placeholder="notlar">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn save form-btn">Randevu Ekle +</button>
                        <button type="button" id="cancel-add-appointment" class="btn cancel form-btn"
                            onclick="resetForm(this)">Vazgeç</button>
                    </div>
                </form>
            </div>


        </div>
        <div class="modal hidden" id="modal_edit_appointment">
            <div class="inner_modal">
                <h2>Randevu Düzenle</h2>
                <form action="" onsubmit="return false" method="POST" id="edit-appointment-form">
                    <div class="form-group">
                        <span>Hasta:</span>
                        <div >
                            <input required type="text" list="user-names" name="user" id="user-select-for-edit"
                                autocomplete="off" placeholder="isim soyisim" readonly>
                            
                        </div>


                       
                    </div>
                    <div class="form-group">
                        <span>İşlemler:</span>
                        <div class="form-group vertical">
                            <span>Kayıtlı:</span>
                            <select class="proccess_type_add_for_edit" id="proccess_type_add_for_edit">
                                
                            </select>
                            <span>Yeni:</span>
                            <select class="proccess_type_new_for_edit" id="proccess_type_new_for_edit">
                                <option value="" selected hidden disable>İşlem Seçiniz</option>
                                <% locals.company.services.forEach(element=> { %>
                                    <% if (element.activeorNot===true) { %>
                                        <option data-price="<%= element.servicePrice %>" data-id="<%= element._id %>"
                                            value="<%= element.serviceName %>">
                                            <%= element.serviceName %>
                                        </option>
                                        <% } %>
                                            <% }) %>
                            </select>
                        </div>
                    </div>

                    <div class="selected_proccess_for_edit">

                    </div>
                    
                  
                   
                    <div class="form-group">Başlangıç Saati:
                        <input type="time" name="startHour" id="" class="startHour">
                    </div>
                    <div class="form-group">Bitiş Saati:
                        <input type="time" name="endHour" id="" class="endHour">
                    </div>

                    <div class="form-group">Personel:
                                <select name="doctor" id="doctor-select-for-edit">
                                    <% doctors.forEach(element=> { %>

                                        <option data-doctorid="<%= element._id %>"

                                            data-doctorID="<%= element._id%>"
                                            data-doctordata="<%= element.name+""+element.surname %>"
                                            value="<%= element.name+" "+element.surname %>"> <%= element.name+" "+element.surname %>
                                        </option>
                                        <% }) %>
                                </select>

                    </div>
                    
                    <div class="form-group">Tarih:
                        <input type="date" name="date" class="event-date-form">
                    </div>

                    <div class="form-group">Not:
                        <input type="text" name="description" placeholder="notlar">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn save form-btn">Değişiklikleri Kaydet</button>
                        <button type="button" id="cancel-edit-appointment" class="btn cancel form-btn"
                            onclick="resetForm(this)">Kapat</button>
                    </div>
                </form>
            </div>


        </div>
        <div class="modal hidden" id="add_customer">
            <div class="inner_modal">
                <h2>Yeni Hasta Ekle</h2>
                <form action="./users/createUser" method="POST" id="add-user-form">
                    <div class="form-group ">
                        <span>İsim</span>
                        <input type="text" name="name" id="user-name" required placeholder="İsim giriniz">
                    </div>

                    <div class="form-group ">
                        <span>Soyisim</span>
                        <input type="text" name="surname" id="surname" placeholder="soyisim giriniz" required>
                    </div>
                    <div class="form-group ">
                        <span>Telefon</span>
                        <input placeholder="başında '0' olmadan girin" type="tel" name="phone" id="phone" required
                            pattern="[0-9]{10}" maxlength="10">
                    </div>
                    <div class="options">
                        <span>Cinsiyet:</span>
                        <div>
                            <input type="radio" id="sex-women" name="sex" value="female">
                            &nbsp; <label for="sex-women">Kadın</label>

                            <input type="radio" id="sex-man" name="sex" value="male">
                            &nbsp; <label for="sex-man">Erkek</label>

                        </div>

                    </div>
                    <div class="form-group ">
                        <span>Doğum Tarihi</span>
                        <input type="date" name="birthDate" id="birthDate">
                    </div>
                    <div class="form-group ">
                        <span>Adres</span>
                        <input type="text" name="address" id="address">

                    </div>

                    <div class="form-group ">
                        <span>Mail</span>
                        <input type="email" name="email" id="email">
                    </div>

                    <div class="form-group ">
                        <span>Fatura Bilgisi:</span>
                        <textarea name="billingAddress" id="billingAddress" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <span>Açıklama</span>
                        <textarea name="notes" id="notes" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="add-user">Kaydet</button>
                        <button type="button" class="btn cancel form-btn" onclick="resetForm(this)">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal hidden" id="modal_change_status">
            <div class="inner_modal">
                <h2>Durum değiştir</h2>
                <form action="" method="POST" id="change-status-form">
                    <div class="form-group ">
                        <span>Durum</span>
                        <select name="change-status-select" id="change-status-select">
                            <% Object.values(APPOINTMENT_STATUS).forEach(element => { %>
                                
                                <option value="<%= element %>"><%= element %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn cancel form-btn" id="add-user">Kapat</button>
                    </div>

                </form>
            </div>

        </div>
    
        <div class="small_modal hidden" data-appointmentid="">
            <button class="edit-appointment">Detaylar</button>
            <hr>
            <button class="change-status" >Durumu Değiştir</button>
            <hr>
            <button class="send-reminder-sms" >Hatırlatma Smsi Gönder</button>
        </div>
        

        <%- include('partials/loader.ejs') %>


            <script type="module" src="/js/appointments.js"></script>
            <!-- <script type="module" src="../bundles/appointments.js"></script> -->

            <script src="/js/sidebar.js"></script>

</body>

</html>