<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/users.css" />
    <link rel="stylesheet" href="/css/companyPayment.css" />
  </head>

  <body>
    <%- include("partials/aside.ejs") %>
    <section id="content">
      <%- include('partials/header.ejs') %>
      <!---------- left aside ------------->

      <main>
        <div class="header">
          <h1>Ödeme Yap</h1>
        </div>

        <div id="companyPaymentContents">
          <div class="companyPaymentContent">
            <div class="plan_head">Yeni Paket</div>
            <form action="" id="add_subscription">
              <div class="plan_body">
                <span>İlk Personel 750TL</span> <br />
                <span>Ek her personel için 250TL</span>
                <hr />
                <br />
                <div class="form-group">
                  <label for="userCount">Personel sayısı</label>
                  <input
                    type="number"
                    id="userCount"
                    name="userCount"
                    min="1"
                    max="100"
                    value="1"
                  />
                </div>
                <div class="form-group">
                  <label for="mounthCount">Süre</label>
                  <select name="mounthCount" id="mounthCount">
                    <option value="1">1 Ay</option>
                    <option value="3">3 Ay</option>
                    <option value="6">6 Ay</option>
                    <option value="12">12 Ay</option>
                  </select>
                </div>
                <div style="padding: 0.5rem">
                  Toplam Tutar: <span id="payment_value">750</span> TL
                </div>
                <div class="">
                  <button class="btn save">Satın Al</button>
                </div>
              </div>
            </form>
          </div>
        
          <div class="companyPaymentContent">
            <div class="plan_head">Aktif Paket</div>
            
           
      
            <% if(activeSubscription){ %>
              
                <div class="plan_body">
                  
                  <div class="form-group">
                    <label for="userCount">Abonelik Türü:</label>
                    <input
                     readonly
                     <% if (activeSubscription.subscriptionType==="trial") { %>
                      value="Deneme"
                     <% } %>
                     <% if (activeSubscription.subscriptionType==="purchased") { %>
                      value="Satın Alınan"
                     <% } %>
                      
                    />
                  </div>
                  <div class="form-group">
                    <label for="userCount">Maks Personel sayısı</label>
                    <input
                     readonly
                      value="<%= activeSubscription.userCount %>"
                    />
                  </div>
                  <div class="form-group">
                    <label for="userCount">Satın A. Tarihi</label>
                    <input
                     readonly
                      value="<%= activeSubscription.createdAt.toLocaleDateString() %>"
                    />
                  </div>
                  <div class="form-group">
                    <label for="mounthCount">Paket Süresi:</label>
                    <input
                    readonly
                     value="<%= activeSubscription.paymentDuration  %> Gün"
                   />
                  </div>
                  <div class="form-group">
                    <label for="mounthCount">Paket Başlangıç:</label>
                    <input
                    readonly
                     value="<%= activeSubscription.startDate.toLocaleDateString()  %> "
                   />
                  </div>
                  <div class="form-group">
                    <label for="mounthCount">Paket Bitiş:</label>
                    <input
                    readonly
                     value="<%=moment(activeSubscription.endDate).format("DD.MM.YYYY") %> "
                   />
                  </div>
                  
                  
                  <div class="form-group">
                    <button class="btn save" id="add_employee_btn">Personel Ekle</button>
                  </div>
                </div>
             
            <% } else{ %>  
              <h1>aktif aboneliğiniz bulunmamaktadır</h1>
           <% } %>

              
                
            
          </div>
          <% waitingSubscriptions.forEach(element => { %>
            <div class="companyPaymentContent">
                <div class="plan_head">Bekleyen Paket</div>
                <form action="" id="add_subscription">
                  <div class="plan_body">
                    
                    <div class="form-group">
                      <label for="userCount">Maks Personel sayısı</label>
                      <input
                       readonly
                        value="<%= element.userCount %>"
                      />
                    </div>
                    <div class="form-group">
                      <label for="userCount">Satın A. Tarihi</label>
                      <input
                       readonly
                        value="<%= element.createdAt.toLocaleDateString() %>"
                      />
                    </div>
                    <div class="form-group">
                      <label for="userCount">Başlangıç Tarihi</label>
                      <input
                       readonly
                        value="<%= element.startDate.toLocaleDateString() %>"
                      />
                    </div>
                    <div class="form-group">
                      <label for="userCount">Bitiş Tarihi</label>
                      <input
                       readonly
                        value="<%= element.endDate.toLocaleDateString() %>"
                      />
                    </div>
                    <div class="form-group">
                      <label for="mounthCount">Paket Süresi:</label>
                      <input
                      readonly
                       value="<%= element.paymentDuration %> Gün"
                     />
                    </div>
                    
                    
                  </div>
                </form>
              </div>
          <% }) %>
          <% finishedSubscriptions.forEach(element => { %>
            <div class="companyPaymentContent">
                <div class="plan_head">Biten Paket</div>
                <form action="" id="add_subscription">
                  <div class="plan_body">
                    
                    <div class="form-group">
                      <label for="userCount">Abonelik Türü</label>
                     
                      <input
                       readonly
                       <% if (element.subscriptionType==="purchased") { %>
                        value="Satın Alınan"
                       <% } %>
                      />
                    </div>
                    <div class="form-group">
                      <label for="userCount">Maks Personel sayısı</label>
                      <input
                       readonly
                        value="<%= element.userCount %>"
                      />
                    </div>
                    <div class="form-group">
                      <label for="userCount">Satın A. Tarihi</label>
                      <input
                       readonly
                        value="<%= element.createdAt.toLocaleDateString() %>"
                      />
                    </div>
                    <div class="form-group">
                      <label for="userCount">Başlangıç Tarihi</label>
                      <input
                       readonly
                        value="<%= element.startDate.toLocaleDateString() %>"
                      />
                    </div>
                    <div class="form-group">
                      <label for="userCount">Bitiş Tarihi</label>
                      <input
                       readonly
                        value="<%= element.endDate.toLocaleDateString() %>"
                      />
                    </div>
                    <div class="form-group">
                      <label for="mounthCount">Paket Süresi:</label>
                      <input
                      readonly
                       value="<%= element.paymentDuration %> Gün"
                     />
                    </div>
                    
                    
                  </div>
                </form>
              </div>
          <% }) %>
        </div>

       

          <div class="add_employee modal hidden">
            <div class="inner_modal">
              <h2>Personel Ekleme</h2>
               <form action="" method="POST" id="add_employe_to_subscription">
                <div class="form-group ">
                    <span>Eklenecek Personel Sayısı</span>
                    <input type="number" name="userCountAddEmployee" id="userCountAddEmployee" min="1" value="1">
                </div>
                <div>
                  Aktif Paketin bitmesine kalan süre: <span id="remainingDays"> <%=moment(activeSubscription?.endDate).diff(moment(), 'days') %></span>
                </div>
                
                <div class="form-group">Total Tutar: <span id="total_value_add_employee"></span></div>
                
                <div class="form-group">
                  <button type="submit" class="btn save form-btn" id="">Ödemeye Geç</button>
                <button type="button" class="btn cancel form-btn">Vazgeç</button>
                </div>
            </form>
            </div>
            
           
        </div>

        <div class="modal hidden" id="add_payment">
          <div class="inner_modal">
            <div>
                <h2>Ödeme</h2>
                <i class="fa-solid fa-xmark close_modal"></i>
            </div>
            <div class="payment_body">

            </div>
          </div>
        </div>
      </main>
      <div class="information-modal-wrapper"></div>
      <div class="warning_popup_wrapper" id="warning_popup_wrapper" >
        <div class="warning_popup">
          <img src="/photos/error_icon.png" alt="" style="width: 75px;">  
          <text id=""><strong>Hata:</strong></text>
          <text id="popup_message"></text>
          <div id="popup_message_extra" style="width: 100%; text-align: center;">
          </div>
          <button class="btn cancel" id="close_warning_popUp">Kapat</button>
        </div>
      </div>

      <%- include('partials/loader.ejs') %>
      <div class="toast-container"></div>
    </section>
    <div class="response_modal"></div>

    <script type="module" src="/js/companyPayment.js"></script>
    <script type="module" src="../js/requests.js"></script>

    <script src="/js/sidebar.js"></script>
  </body>
</html>
