<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/users.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <%- include("partials/aside.ejs") %>
        <section id="content">
            <%- include('partials/header.ejs') %>
            <!---------- left aside ------------->
            
               
                <main>

                    <div class="header">
                        <h1> Satın Almalar</h1>
                    </div>


                    <div class="search">
                       
                        <div class="add_customer_btn"><a href="/admin/companyPaymentPage">Abonelik AL+</a></div>

                    </div>

                    <div class="print">

                        <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                        <div class="print-selection">
                            <label>Yazdır &nbsp; &#10140</label>
                            <label for="" class="to_pdf" onclick="window.print()">PDF<span
                                    class="material-symbols-sharp">picture_as_pdf</span></label>
                            
                            <label for="" class="to_xlsx">XLSX<span
                                    class="material-symbols-sharp">description</span></label>
                        </div>

                    </div>
                    <div class="table-wrapper">
                        <table>
                            <thead>

                                <th>Tarih<i class="fa-solid fa-arrow-up"></i></th>
                                <th>Tutar<i class="fa-solid fa-arrow-up"></i></th>
                                <th>Ödeme Tipi<i class="fa-solid fa-arrow-up"></i></td>
                                <th>Durum</th>
                                

                            </thead>
                            <tbody id="userList">
                                <% companyPayments.forEach(companyPayment=> { %>
                                    <tr>

                                        <td>
                                            <%= companyPayment.createdAt.toLocaleDateString("tr-TR")%>
                                            <%= companyPayment.createdAt.toLocaleTimeString("tr-TR")%>
                                        </td>
                                        <td>
                                            <%= companyPayment.price %>TL
                                        </td>
                                       
                                        
                                        <td>
                                            <% if (companyPayment.paymentType==="subscription") { %>
                                                <span>Abonelik Satın Alımı</span>
                                            <% } %>
                                            <% if (companyPayment.paymentType==="User_Purchase") { %>
                                                <span>Ek Personel Alımı</span>
                                            <% } %>
                                            <% if (companyPayment.paymentType==="SMS_Purchase") { %>
                                                <span>Sms Alımı</span>
                                            <% } %>
                                            
                                        </td>
                                        <td>
                                            <span><%= companyPayment.paymentStatus %></span>
                                        </td>
                                        
                                    </tr>
                                    
                                    <% }) %>


                            </tbody>


                        </table>

                    </div>

                  
                  

                </main>
                <div class="toast-container"></div>

                
        </section>


        <script src="/js/sidebar.js"></script>
        <script type="module" src="/js/main.js"></script>

        <script type="module" src="../js/requests.js"></script>
        <script type="module" src="../js/ui.js"></script>
        
        <script type="module" src="../js/inner_modules/tables.js"></script>
        <script type="module" src="../js/inner_modules/print.js"></script>

        



</body>

</html>