<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/users.css">
        <link rel="stylesheet" href="/css/services.css">

</head>

<body>
    <%- include("partials/aside.ejs") %>

        <section id="content">
            <!---------- left aside ------------->
            <%- include('partials/header.ejs') %>


                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> Veriler</h1>
                    </div>
                    <div class="search">
                        <form autocomplete="off" action="./datas" id="search-data-form" method="GET">
                            <div class="autocomplete form-group">
                                <input id="myInput" type="text" name="dataName"value="<%=dataName%>" placeholder="<%= dataName ||"Veri ismi"%>">
                                <input type="submit"  value="Ara">
                            </div>

                        </form>

                        <div><button class="btn success" id="add_data_btn">Veri Ekle +</button></div>


                    </div>

                    <div class="print">

                        <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                        <div class="print-selection">
                            <label>Yazdır &nbsp; &#10140</label>
                            <label for="" class="to_pdf">PDF<span
                                    class="material-symbols-sharp">picture_as_pdf</span></label>

                            <label for="" class="to_xlsx">XLSX<span
                                    class="material-symbols-sharp">description</span></label>
                        </div>

                    </div>
                    <div class="table-wrapper">
                        <table>
                            <thead>

                                <th>Veri İsmi</i></th>
                                <th>Veri Opsiyonları</th>
                                <th></th>


                            </thead>
                            <tbody id="userList">
                                <% serviceDatas.forEach(element=> { %>
                                    <tr data-id="<%= element._id %>">
                                        <td>
                                            <%= element.dataName %>
                                        </td>
                                        <td>
                                            <table>
                                                <% element.dataOptions.forEach(dataOptions=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= dataOptions%>
                                                                <i class="fa-regular fa-pen-to-square"></i>
                                                                <i class="fa-solid fa-trash"></i>
                                                        </td>


                                                    </tr>
                                                    <% }) %>

                                            </table>
                                        </td>
                                        <td><button class="btn save normal-btn add_option_btn"> Opsiyon ekle+</button></td>

                                    </tr>

                                    <% }) %>
                            </tbody>


                        </table>

                    </div>





                </main>

        </section>
        <div class="toast-container"></div>
        <div class="modal hidden" id="add_data">
            <div class="inner_modal">
                <h2>Yeni Veri Ekle</h2>
                <form action="./datas/addData" method="POST" id="data-form">
                    <div class="form-group ">
                        <span>Veri Adı:</span>
                        <input type="text" name="dataName" id="user-name" required
                            placeholder="Örn: cilt kalitesi,cilt rengi..">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="add-user">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal hidden" id="add_option">
            <div class="inner_modal">
                <h2>Yeni Opsiyon Ekle</h2>
                <form action="./datas/addOptiontoData" method="POST" id="dataOption_form">
                    <div class="form-group ">
                        <span>Opsiyon Adı:</span>
                        <input type="text" name="dataOption" id="user-name" required placeholder="Örn: seyrek,zayıf ..">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="add-user">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal hidden" id="edit_option">
            <div class="inner_modal">
                <h2>Opsiyon Düzenle</h2>
                <form action="./datas/editOption" method="POST" id="dataEdit_form">
                    <div class="form-group ">
                        <span>Opsiyon Adı:</span>
                        <input type="text" name="dataOption" id="user-name" required placeholder="">
                    </div>
    <div class="form-group">
        
        <button type="submit" class="btn save form-btn" id="add-user">Kaydet</button>
        <button type="button" class="btn cancel form-btn">Vazgeç</button>
    </div>
                </form>
            </div>
            
        </div>

        <script type="module" src="/js/main.js"></script>
        <script src="/js/sidebar.js"></script>
        <script type="module" src="/js/datas.js"></script>





</body>

</html>