<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/users.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include("partials/aside.ejs") %>

        <section id="content">
            <!---------- left aside ------------->

            <%- include('partials/header.ejs') %>
                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> Kullanıcılar</h1>
                    </div>

                    <div class="search">
                        <form autocomplete="off" action="./personels/search">
                            <div class="autocomplete form-group" >
                                <input id="myInput" type="text" name="user" placeholder="Personel Ara">
                                <input type="submit" value="Ara">
                            </div>

                        </form>
                        <div class="add_customer_btn">Yeni Kullanıcı Ekle +</div>
                    </div>
                    <div class="print">

                        <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                        <div class="print-selection">
                            <label>Yazdır&nbsp; &#10140</label>
                            <label for="" class="to_pdf">PDF<span
                                    class="material-symbols-sharp">picture_as_pdf</span></label>

                            <label for="" class="to_xlsx">XLSX<span
                                    class="material-symbols-sharp">description</span></label>
                        </div>

                    </div>
                    <div class="table-wrapper">
                        <table>
                            <thead>


                                <th>Kayıt Tarihi<i class="fa-solid fa-arrow-up"></i></th>
                                <th>İsim<i class="fa-solid fa-arrow-up"></i></th>
                                <th>Soyisim <i class="fa-solid fa-arrow-up"></i></th>
                                <th>Rol <i class="fa-solid fa-arrow-up"></i></th>
                                <th>Mail <i class="fa-solid fa-arrow-up"></i></th>
                                <th>Aktiflik <i class="fa-solid fa-arrow-up"></i></th>
                                <th> </th>
                                <th> </th>



                            </thead>
                            <tbody id="userList">
                                <% employees.forEach(employee=> { %>
                                    <tr>

                                        <td>
                                            <%= new Date(employee.registerDate).toLocaleDateString("tr-TR") %>
                                        </td>
                                        <td>
                                            <%= employee.name %>
                                        </td>
                                        <td>
                                            <%= employee.surname %>
                                        </td>
                                       
                                        <td>
                                            <%= employee.email %>
                                        </td>

                                        <td>
                                            <% if(employee.activeOrNot ){ %>
                                                <span class="continue">Aktif</span>
                                                <% } else{ %>
                                                    <span class="finish">Pasif </span>
                                                    <% } %>

                                        </td>
                                        <% if(employee.activeOrNot){ %>
                                            <td>
                                                <% if (employee.role!=="admin" ) { %>
                                                    <a href="./users/<%= employee._id %>/deactivateEmployee">Pasif
                                                        Et</a>
                                                    <% } %>
                                            </td>
                                            <% } else{ %>
                                                <td><a href="./users/<%= employee._id %>/activateEmployee">Aktif Et</a>
                                                </td>
                                                <% } %>

                                                    <td><a href="./employees/<%= employee._id %>">Detaylar</a></td>
                                    </tr>
                                    <% }) %>


                            </tbody>


                        </table>

                    </div>
                    <div class="pagination-describe">
                        Toplam <%= total %> Personel içerisinden <%= count %> kişi listelendi
                    </div>
                    <div class="pagination">

                        <% if (pagination.previous ) { %>
                            <a
                                href="./personels?page=<%= pagination.previous.page %>&limit=<%= pagination.previous.limit %>"><span>Önceki
                                    Sayfa<<< </a>
                                        <% } %>

                                            <% if (pagination.page>1) { %>
                                                <a href="./personels?page=<%= pagination.page-1 %>&limit=<%=3 %>"><span>
                                                        <%= pagination.page-1 %>
                                                    </span></a>
                                                <% } %>

                                                    <a href="./personels?page=<%= pagination.page %>&limit=<%=3 %>"><span
                                                            class="page-active">
                                                            <%= pagination.page %>
                                                        </span></a>

                                                    <% if (pagination.page<pagination.lastpage) { %>
                                                        <a
                                                            href="./personels?page=<%= pagination.page+1 %>&limit=<%=3 %>"><span>
                                                                <%= pagination.page+1 %>
                                                            </span></a>
                                                        <% } %>


                                                            <% if (pagination.next) { %>
                                                                <a
                                                                    href="./personels?page=<%= pagination.next.page %>&limit=<%= pagination.next.limit %>"><span>
                                                                        >>Sonraki Sayfa</span></a>
                                                                <% } %>

                    </div>






                </main>

        </section>
        <div class="modal hidden" id="add_customer">
            <div class="inner_modal">
                <h2>Yeni Kullanıcı Ekle</h2>
                <form action="./employees/createEmployee" onsubmit="return false" method="POST" id="register-form">
                    <div class="form-group ">
                        <span>İsim<bold>*</bold></span>
                        <input type="text" name="name" id="user-name" required placeholder="İsim giriniz">
                    </div>

                    <div class="form-group requisite">
                        <span>Soyisim</span>
                        <input type="text" name="surname" id="surname" required placeholder="Soyisim giriniz">
                    </div>
                    <div class="form-group ">
                        <span>Şifre</span>
                        <input type="text" name="password" id="password" required placeholder="Şifre Belirleyin">
                    </div>
                    <div class="form-group ">
                        <span>Mail</span>
                        <input type="email" name="email" id="email" required placeholder="geçerli mail giriniz">
                    </div>
                    
                    <div class="options">
                        <span>Cinsiyet:</span>
                        <div>
                            <input type="radio" id="sex-women" name="sex" value="female">
                            &nbsp; <label for="sex-women">Kadın</label>

                            <input type="radio" id="sex-man" name="sex" value="male">
                            &nbsp; <label for="sex-man">Erkek</label>

                        </div>

                    </div>

                    <div class="form-group ">
                        <span>Doğum Tarihi</span>
                        <input type="date" name="birthDate" id="birthDate">
                    </div>
                    <div class="form-group ">
                        <span>Adres</span>
                        <input type="text" name="address" id="address">

                    </div>
                    <div class="form-group ">
                        <span>Telefon</span>
                        <input placeholder="başında '0' olmadan girin" type="tel" name="phone" id="phone" required
                            pattern="[0-9]{10}" maxlength="10">
                    </div>


                    <div class="form-group ">
                        <span>Fatura Bilgisi:</span>
                        <textarea name="billingAddress" id="billingAddress" cols="70" rows="2"></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="add-user">Kaydet</button>
                    <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="information-modal-wrapper"></div>

        <script src="/js/sidebar.js"></script>
        <script type="module" src="../js/main.js"></script>


        <script type="module" src="../js/employees.js"></script>


        <script type="module" src="../js/inner_modules/tables.js"></script>



</body>

</html>