<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>

        <link rel="stylesheet" href="/css/user-details.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- js ----------- -->
        <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
</head>

<body>
    <%- include("partials/aside.ejs") %>
        <section id="content">
            <!---------- left aside ------------->

            <%- include('partials/header.ejs') %>

                <!----------- end of sidebar ----------->

                <main>
                    <div class="user-informations">

                        <div class="left_section">
                            <div class="user-img"><i class="ph-bold ph-user"></i></div>
                            <span>
                                <%= singleUser.name %>
                                    <%= singleUser.surname %>
                            </span>



                            <div class="show-content informations">Bilgiler<i
                                    class="fa-solid fa-pen-to-square edit"></i>
                            </div>
                            <div class="show-content sessions">Randevular
                                <i class="fa-solid fa-pen-to-square edit"></i>
                            </div>
                            <div class="show-content payment">Tahsilatlar
                                <i class="fa-solid fa-pen-to-square edit"></i>
                            </div>




                        </div>


                        <div class="right_section">


                            <div class="contents">

                                <div class="userInformationsContent showed_content  generals">
                                    <h2>Bilgiler</h2>
                                    <hr>
                                    <div class="inputs ">
                                        <span>İsim</span>
                                        <input type="text" name="name" id="name" value="<%= singleUser.name %>" readonly>
                                    </div>
                                    <div class="inputs ">
                                        <span>Soyisim</span>
                                        <input type="text" name="surname" id="surname" value="<%= singleUser.surname %>"
                                            readonly>
                                    </div>
                                    
                                    <div class="inputs ">
                                        <span>Görev</span>
                                        
                                        <input type="text" name="role" id="user-surname"
                                            value="<%= singleUser.role %>">
                                    </div>
                                    <div class="options">
                                        <span>Aktiflik:</span>
                                        
                                        <% if(singleUser.activeOrNot==true){ %>
                                            <div>
                                                <input type="radio" id="activeOrNot-true" name="activeOrNot" checked >
                                                <label for="">Aktif</label>
                                                
                                                
                                                
                                            </div>
                                          <% } else{ %>  
                                            <div>
                
                                                <input type="radio" id="activeOrNot-false" name="activeOrNot" value="false" checked="checked" >
                                                &nbsp; <label for="activeOrNot-false">Deaktif</label>
                
                                            </div>
                                         <% } %>
                                        
                                       
            
                                    </div>
                                    <div class="options">
                                        <span>Cinsiyet:</span>
                                        <% if(singleUser.sex==="male"){ %>
                                            <div>
                                               
                                                <input type="radio" id="sex-man" name="sex" value="male" checked="checked">
                                                &nbsp; <label for="sex-man">Erkek</label>
                
                                            </div>
                                          <% } else{ %>  
                                            <div>
                                                <input type="radio" id="sex-women" name="sex" value="female" checked="checked">
                                                &nbsp; <label for="sex-women">Kadın</label>
                
                                            </div>
                                         <% } %>
                                        
                                       
            
                                    </div>
                                    
                                   
                                    <div class="inputs ">
                                        <span>Doğum Tarihi</span>
                                        <input type="date" name="" id="" value="<%= singleUser.birthDate %>" readonly>
                                    </div>
                                    <div class="inputs ">
                                        <span>Mail</span>
                                        <input type="email" name="" id="" value="<%= singleUser.email %>" readonly>
                                    </div>

                                    <div class="inputs">
                                        <span>Adres:</span>
                                        <input type="text" value="<%= singleUser.address %>" readonly>
                                    </div>
                                    
                                    
                                    <div class="inputs ">
                                        <span>Telefon</span>
                                        <input type="number" name="" id="" value="<%= singleUser.phone %>" readonly>
                                    </div>


                                    <div class="inputs ">
                                        <span>Kayıt Tarihi:</span>
                                        <input type="text" name="" id="" value="<%= new Date(singleUser.registerDate).toLocaleDateString() %>" readonly>
                                    </div>
                                   
                                    <span class="edit-informations-btn">Düzenle</span>


                                </div>
                                <div class="userInformationsContent  sessions ">
                                    <h2>Seanslar</h2>
                                    <hr>

                                    <div class="table user-table">
                                        <table>
                                            <thead>

                                                <th>Tarih<i class="fa-solid fa-arrow-up"></i></th>
                                                <th>Saat</th>
                                                <th>Hasta<i class="fa-solid fa-arrow-up"></i></th>
                                                <th>İşlemler</td>
                                                <th>Notlar</th>
                                                <th>Seans Durumu<i class="fa-solid fa-arrow-up"></i></th>
                                            </thead>
                                            <% sessions.forEach(session=> { %>
                                                <tr>

                                                    <td>
                                                        <%= new Date(session.date).toLocaleDateString() %>
                                                    </td>

                                                    <td>
                                                        <%= new
                                                            Date(session.startHour).toLocaleTimeString([],{hour:"2-digit",minute:"2-digit"})
                                                            %>-
                                                            <%= new
                                                                Date(session.endHour).toLocaleTimeString([],{hour:"2-digit",minute:"2-digit"})
                                                                %>
                                                    </td>

                                                    <td>
                                                        <%= session.user.name %>
                                                    </td>
                                                    <td>
                                                        <%= session.services%>
                                                    </td>
                                                    <td>
                                                        <%= session.description %>
                                                    </td>


                                                    <td>
                                                        <p class="finish">
                                                            <%= session.state %>
                                                        </p>
                                                    </td>
                                                    <td><a href="#">Düzenle</a></td>
                                                </tr>
                                                <% }) %>


                                        </table>

                                    </div>

                                </div>
                                <div class="userInformationsContent payments">
                                    <h2>Ödemeler</h2>

                                    <div class="table user-table">
                                        <table>
                                            <thead>
                                                <th>Id</th>
                                                <th>Tarih</th>
                                                <th>Tutar</th>
                                                <th>K.Kartı/Nakit</td>

                                            </thead>




                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>Toplam:</td>
                                                <td> xxxxx</td>
                                            </tr>

                                        </table>

                                    </div>

                                </div>

                                <div class="userInformationsContent procces">
                                    <h2>İşlemler</h2>
                                    <div class="operation_name"> <b>Saç Ekimi:</b></div>
                                    <div class="table">
                                        <table class="user-table-main">
                                            <thead>
                                                <th>Id</th>
                                                <th>Tarih</th>
                                                <th>Tutar</th>
                                                <th>K.Kartı/Nakit</td>

                                            </thead>
                                            <tbody>
                                                <tr></tr>
                                            </tbody>

                                        </table>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </main>
                <div class=" modal modal_user">

                    <h2>Genel Bilgileri Düzenle</h2>

                    <form action="./<%= singleUser._id %>/editInformations" method="POST" enctype="multipart/form-data" id="user-edit-form">
                        <div class="inputs ">
                            <span>İsim</span>
                            <input type="text" name="name" id="user-name" value="<%= singleUser.name %>">
                        </div>

                        <div class="inputs ">
                            <span>Soyisim</span>
                            <input type="text" name="surname" id="user-surname" value="<%= singleUser.surname %>">
                        </div>
                        <div class="inputs ">
                            <span>Görev:</span>
                            <select name="role" id="role">
                                <option value="<%= singleUser.role %>"checked disable hidden><%= singleUser.role %> </option>
                                <% rolesValue.forEach(role => { %>
                                    <option value="<%= role %>"><%=role %></option >
                                <% }) %>
                            </select>
                            
                        </div>
                        
                        <div class="options">
                            <span>Aktiflik:</span>
                            <% if(singleUser.activeOrNot==true){ %>
                                <div>
                                    <input type="radio" id="activeOrNot-true" name="activeOrNot" value="true" checked="checked">
                                    &nbsp; <label for="activeOrNot-true">Aktif</label>
    
                                    <input type="radio" id="activeOrNot-false" name="activeOrNot" value="false" >
                                    &nbsp; <label for="activeOrNot-false">Deaktif</label>
    
                                </div>
                              <% } else{ %>  
                                <div>
                                    <input type="radio" id="activeOrNot-true" name="activeOrNot" value="true" >
                                    &nbsp; <label for="activeOrNot-true">Aktif</label>
    
                                    <input type="radio" id="activeOrNot-false" name="activeOrNot" value="false" checked="checked" >
                                    &nbsp; <label for="activeOrNot-false">Deaktif</label>
    
                                </div>
                             <% } %>
                            
                           

                        </div>
                        <div class="options">
                            <span>Cinsiyet:</span>
                            <% if(singleUser.sex==="male"){ %>
                                <div>
                                    <input type="radio" id="sex-women-update" name="sex" value="female" >
                                    &nbsp; <label for="sex-women-update">Kadın</label>
    
                                    <input type="radio" id="sex-man-update" name="sex" value="male" checked="checked">
                                    &nbsp; <label for="sex-man-update">Erkek</label>
    
                                </div>
                              <% } else{ %>  
                                <div>
                                    <input type="radio" id="sex-women-update" name="sex" value="female" checked="checked">
                                    &nbsp; <label for="sex-women-update">Kadın</label>
    
                                    <input type="radio" id="sex-man-update" name="sex" value="male">
                                    &nbsp; <label for="sex-man-update">Erkek</label>
    
                                </div>
                             <% } %>

                        </div>
                        <div class="inputs ">
                            <span>Doğum Tarihi:</span>
                            <input type="date" name="birtdhDate" id="birtdhDate" value="<%= singleUser.birthDate %>" >
                        </div>
                        <div class="inputs ">
                            <span>Email:</span>
                            <input type="email" x="email" id="email" value="<%= singleUser.email %>" >
                        </div>
                        <div class="inputs ">
                            <span>Adres</span>
                            <input type="text" name="address" id="" value="<%= singleUser.address %>"
                                placeholder="<%= singleUser.address %>">
                        </div>
                        <div class="inputs ">
                            <span>Telefon</span>
                            <input type="number" name="phone" id="" value="<%= singleUser.phone %>">
                        </div>
                        
                        
                        
                        <button type="submit" id="edit-user">Kaydet</button>
                        <span class="cancel_button">Vazgeç</span>
                    </form>
                </div>
                <div class="modal modal_session">
                    <h2>Seans Ekle</h2>
                    <form action="">
                        <div class="inputs ">
                            <span>İsim</span>
                            <input type="text" name="" id="">
                        </div>
                        <div class="inputs ">
                            <span>Soyisim</span>
                            <input type="text" name="" id="">
                        </div>
                        <div class="inputs ">
                            <span>Tarih:</span>
                            <input type="date" name="" id="">
                        </div>
                        <div class="inputs">
                            <span>İşlem Tipi:</span>
                            <select class="proccess_type">
                                <option value="0">Yıkama</option>
                                <option value="1">Saç Ekimi</option>
                                <option value="2">Bakım</option>
                                <option value="3">Cilt gerdirme</option>
                            </select>
                            <div class="selected_proccess_type">
                                <!-- <div>Bakım<i class="fa-solid fa-x"></i></div> -->
                            </div>
                            <div class="inputs">Açıklama-Notlar:
                                <textarea name="" id="" cols="10" rows="3"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="save_button">Kaydet</button>
                        <button class="cancel_button">Vazgeç</button>
                    </form>
                </div>
                <div class="modal modal_payment">
                    <h2>Ödeme Ekle</h2>
                    <form action="">
                        <div class="inputs ">
                            <span>İsim</span>
                            <input type="text" id="">
                        </div>
                        <div class="inputs ">
                            <span>Soyisim</span>
                            <input type="text" name="" id="">
                        </div>
                        <div class="inputs ">
                            <span>Ödeme Miktarı:</span>
                            <input type="number" name="" id="">
                        </div>
                        <div class="inputs ">
                            <span>Tarih:</span>
                            <input type="date" name="" id="" value="2023-01-01">
                        </div>
                        <div class="payment_options ">
                            <span>Tahsilat:</span>
                            <div>
                                <input type="radio" id="credit_card_ratio" name="payment" value="credit_card">
                                  <label for="credit_card_ratio">Kredi Kartı</label>
                            </div>
                            <div>
                                <input type="radio" id="cash_ratio" name="payment" value="cash">
                                  <label for="cash_ratio">Nakit</label>
                            </div>

                        </div>

                        <button type="submit" class="save_button">Kaydet</button>
                        <button class="cancel_button">Vazgeç</button>
                    </form>
                </div>
                <div class="modal modal_image">
                    <h2>Resim Ekle</h2>

                    <form action="./<%= singleUser._id %>/uploadpictures" method="POST" enctype="multipart/form-data">

                        <div class="inputs ">
                            <span>Resim seç</span>
                            <input type="file" name="upload_file" src="" alt="" multiple required
                                onchange="getImagePreview(event)">
                        </div>
                        <div class="uploaded_images_preview"></div>
                        <div>
                            çekilme zamanı:
                            <input type="text" name="uploadTime" required>
                        </div>


                        <button type="submit" class="save_button" id="add-img-save-button">Kaydet</button>
                        <button class="cancel_button">Vazgeç</button>
                    </form>
                </div>

                <div class="loader_wrapper hidden">
                    <svg class="pl" viewBox="0 0 200 200" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="pl-grad1" x1="1" y1="0.5" x2="0" y2="0.5">
                                <stop offset="0%" stop-color="hsl(313,90%,55%)" />
                                <stop offset="100%" stop-color="hsl(223,90%,55%)" />
                            </linearGradient>
                            <linearGradient id="pl-grad2" x1="0" y1="0" x2="0" y2="1">
                                <stop offset="0%" stop-color="hsl(313,90%,55%)" />
                                <stop offset="100%" stop-color="hsl(223,90%,55%)" />
                            </linearGradient>
                        </defs>
                        
                        <circle class="pl__ring" cx="100" cy="100" r="82" fill="none" stroke="url(#pl-grad1)" stroke-width="36" stroke-dasharray="0 257 1 257" stroke-dashoffset="0.01" stroke-linecap="round" transform="rotate(-90,100,100)" />
                        <line class="pl__ball" stroke="url(#pl-grad2)" x1="100" y1="18" x2="100.01" y2="182" stroke-width="36" stroke-dasharray="1 165" stroke-linecap="round" />
                        
                    </svg>
                    <text class="">Yükleniyor..</text>
                    

                </div>

        </section>


        </main>
        <div class="information-modal">AAAA</div>
        </div>



        
        <script type="module" src="/js/requests.js"></script>
        <script type="module" src="/js/employee-details.js"></script>
        <script type="module" src="/js/inner_modules/tables.js"></script>

        <script src="/js/sidebar.js"></script>
        <script>

        </script>





</body>

</html>