<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>

        <link rel="stylesheet" href="/css/user-details.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- js ----------- -->
        <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
</head>

<body>
    <%- include("partials/aside.ejs") %>
        <section id="content">
            <!---------- left aside ------------->

            <%- include('partials/header.ejs') %>

                <!----------- end of sidebar ----------->

                <main>
                    <div class="user-informations">

                        <div class="left_section">
                            <div class="user-img"><i class="ph-bold ph-user"></i></div>
                            <span>
                                <%= singleUser.name %>
                                    <%= singleUser.surname %>
                            </span>



                            <div class="show-content informations active">Bilgiler<i
                                    class="fa-solid fa-pen-to-square edit"></i>
                            </div>
                            <div class="show-content appointments">Randevular
                                <i class="fa-solid fa-pen-to-square edit"></i>
                            </div>
                            <div class="show-content permissions">Yetkiler
                                <i class="fa-solid fa-pen-to-square edit"></i>
                            </div>
                        </div>


                        <div class="right_section">


                            <div class="contents">
                                <div class="userInformationsContent showed_content  generals">
                                    <div>
                                        <h2>Bilgiler</h2>
                                    </div>
                                        <div class="form-group ">
                                            <span>İsim</span>
                                            <input type="text" name="name" id="name" value="<%= singleUser.name %>"
                                                readonly>
                                        </div>
                                        <div class="form-group ">
                                            <span>Soyisim</span>
                                            <input type="text" name="surname" id="surname"
                                                value="<%= singleUser.surname %>" readonly>
                                        </div>
                                        <div class="form-group ">
                                            <span>Görev</span>

                                            <input type="text" name="role" id="user-surname"
                                                value="<%= singleUser.role %>">
                                        </div>
                                        <div class="options">
                                            <span>Çalışma durumu:</span>

                                            <% if(singleUser.activeOrNot==true){ %>
                                                <div>
                                                    <input type="radio" id="activeOrNot-true" name="activeOrNot"
                                                        checked>
                                                    <label for="activeOrNot-true">Aktif</label>
                                                </div>
                                                <% } else{ %>
                                                    <div>

                                                        <input type="radio" id="activeOrNot-false" name="activeOrNot"
                                                            value="false" checked="checked">
                                                        &nbsp; <label for="activeOrNot-false">Deaktif</label>

                                                    </div>
                                                    <% } %>

                                        </div>
                                        <div class="options">
                                            <span>Cinsiyet:</span>
                                            <% if(singleUser.sex==="male" ){ %>
                                                <div>

                                                    <input type="radio" id="sex-man" name="sex" value="male"
                                                        checked="checked">
                                                    &nbsp; <label for="sex-man">Erkek</label>

                                                </div>
                                                <% } else{ %>
                                                    <div>
                                                        <input type="radio" id="sex-women" name="sex" value="female"
                                                            checked="checked">
                                                        &nbsp; <label for="sex-women">Kadın</label>

                                                    </div>
                                                    <% } %>

                                        </div>
                                        
                                        <div class="form-group">
                                            <span>Çalışma saatleri:</span>
                                            <div class="vertical">
                                                <div class="vertical">Başlangıç:
                                                    <input readonly type="time" name="" id=""
                                                    value="<%= singleUser.workHours.workStart %>">
                                                </div>
                                                <div class="vertical">Bitiş:
                                                    <input readonly type="time" name="" id=""
                                                    value="<%= singleUser.workHours.workEnd %>">
                                                </div>
                                            </div>
                                           
                                        </div>
                                            
                                        <div class="form-group">
                                            <span>Doğum Tarihi</span>

                                            <input type="date" name="" id="" <% if (singleUser.birthDate) { %>
                                            value="<%= singleUser.birthDate%>"
                                                <% } %> readonly>
                                        </div>
                                        <div class="form-group">
                                            <span>Mail</span>
                                            <input type="email" name="" id="" value="<%= singleUser.email %>" readonly>
                                        </div>

                                        <div class="form-group">
                                            <span>Adres:</span>
                                            <input type="text" value="<%= singleUser.address %>" readonly>
                                        </div>
                                        <div class="form-group">
                                            <span>Telefon</span>
                                            <input type="number" name="" id="" value="<%= singleUser.phone %>" readonly>
                                        </div>

                                        <div class="form-group">
                                            <span>Kayıt Tarihi:</span>
                                            <input type="text" name="" id=""
                                                value="<%= new Date(singleUser.registerDate).toLocaleDateString("tr-TR") %>" readonly>
                                        </div>
                                        <div class="form-group">
                                            <span>Prim Yüzdesi</span>
                                            <input type="number" name="" id="employeeComission"
                                                value="<%=singleUser.employeeComission %>" readonly>
                                        </div>
                                    <span class="edit-informations-btn">Düzenle</span>


                                </div>
                                <div class="userInformationsContent  appointments ">
                                    <div>
                                        <h2>Seanslar</h2>
                                    </div>
                                    <div class="contentBody">
                                        <div class="table appointments-table">
                                            <table>
                                                <thead>

                                                    <th>Tarih<i class="fa-solid fa-arrow-up"></i></th>
                                                    <th>Saat</th>
                                                    <th>Hasta<i class="fa-solid fa-arrow-up"></i></th>
                                                    <th>İşlemler</td>
                                                    <th>Notlar</th>
                                                    <th>Seans Durumu<i class="fa-solid fa-arrow-up"></i></th>
                                                </thead>
                                                <tbody></tbody>


                                            </table>

                                        </div>
                                    </div>

                                </div>
                                <div class="userInformationsContent  permissions ">
                                    <div>
                                        <h2>İzinler</h2>
                                    </div>
                                    <div class="contentBody">

                                        <div class="table permissions-table">
                                            <table>
                                                <thead>

                                                    <th>Yetki</th>
                                                    <th>Durum</th>


                                                </thead>
                                                <tbody></tbody>


                                            </table>

                                        </div>
                                    </div>




                                </div>




                            </div>

                        </div>

                    </div>
                </main>


                <%- include('partials/loader.ejs') %>

        </section>
        <div class="modal hidden" id="modal_user">
            <div class="inner_modal">
                <h2>Genel Bilgileri Düzenle</h2>

                <form action="./<%= singleUser._id %>/editInformations" method="POST" enctype="multipart/form-data"
                    id="user-edit-form">
                    <div class="form-group ">
                        <span>İsim</span>
                        <input type="text" name="name" id="user-name" value="<%= singleUser.name %>">
                    </div>

                    <div class="form-group ">
                        <span>Soyisim</span>
                        <input type="text" name="surname" id="user-surname" value="<%= singleUser.surname %>">
                    </div>
                    <div class="form-group ">
                        <span>Görev:</span>
                        <select name="role" id="role">
                            <option value="<%= singleUser.role %>" checked disable hidden>
                                <%= singleUser.role %>
                            </option>
                            <% roles.forEach(role=> { %>
                                <option value="<%= role %>">
                                    <%=role %>
                                </option>
                                <% }) %>
                        </select>

                    </div>

                    <div class="form-group">
                        <span>Çalışma saatleri:</span>
                        <div class="vertical">
                            <div class="vertical">Başlangıç:
                                <input type="time" name="workhours" id="workhours-start"
                                value="<%= singleUser.workHours.workStart %>">
                            </div>
                            <div class="vertical">Bitiş:
                                <input type="time" name="workhours" id="workhours-end"
                                value="<%= singleUser.workHours.workEnd %>">
                            </div>
                        </div>
                       
                    </div>
                    <div class="options">
                        <span>Cinsiyet:</span>
                        <% if(singleUser.sex==="male" ){ %>
                            <div>
                                <input type="radio" id="sex-women-update" name="sex" value="female">
                                &nbsp; <label for="sex-women-update">Kadın</label>

                                <input type="radio" id="sex-man-update" name="sex" value="male" checked="checked">
                                &nbsp; <label for="sex-man-update">Erkek</label>

                            </div>
                            <% } else{ %>
                                <div>
                                    <input type="radio" id="sex-women-update" name="sex" value="female"
                                        checked="checked">
                                    &nbsp; <label for="sex-women-update">Kadın</label>

                                    <input type="radio" id="sex-man-update" name="sex" value="male">
                                    &nbsp; <label for="sex-man-update">Erkek</label>

                                </div>
                                <% } %>

                    </div>

                    <div class="form-group ">
                        <span>Doğum Tarihi:</span>

                        <input type="date" name="birthDate" id="birthDate" <% if (singleUser.birthDate) { %>
                        value="<%= singleUser.birthDate %>"
                            <% } %> readonly>
                    </div>
                    <div class="form-group ">
                        <span>Email:</span>
                        <input type="email" x="email" id="email" value="<%= singleUser.email %>">
                    </div>
                    <div class="form-group ">
                        <span>Adres</span>
                        <input type="text" name="address" id="address" value="<%= singleUser.address %>"
                            placeholder="<%= singleUser.address %>">
                    </div>
                    <div class="form-group ">
                        <span>Telefon</span>
                        <input type="number" name="phone" id="phone" value="<%= singleUser.phone %>">
                    </div>
                    <div class="form-group ">
                        <span>Prim Yüzdesi</span>
                        <input type="number" name="employeeComission" id="employeeComission" value="<%= singleUser.employeeComission %>">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="edit-user">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal hidden" id="modal_session">
            <div class="inner_modal">
                <h2>Seans Ekle</h2>
                <form action="">
                    <div class="form-group ">
                        <span>İsim</span>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group ">
                        <span>Soyisim</span>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group ">
                        <span>Tarih:</span>
                        <input type="date" name="" id="">
                    </div>
                    <div class="form-group">
                        <span>İşlem Tipi:</span>
                        <select class="proccess_type">
                            <option value="0">Yıkama</option>
                            <option value="1">Saç Ekimi</option>
                            <option value="2">Bakım</option>
                            <option value="3">Cilt gerdirme</option>
                        </select>
                        <div class="selected_proccess_type">
                            <!-- <div>Bakım<i class="fa-solid fa-x"></i></div> -->
                        </div>
                        <div class="form-group">Açıklama-Notlar:
                            <textarea name="" id="" cols="10" rows="3"></textarea>
                        </div>
                    </div>
                   <div class="form-group">
                    <button type="submit" class="btn save form-btn">Kaydet</button>
                    <button type="button" class="btn cancel form-btn">Vazgeç</button>
                   </div>
                </form>
            </div>
           
        </div>
        <div class="information-modal-wrapper"></div>
        </div>




        <script type="module" src="/js/requests.js"></script>
        <script type="module" src="/js/employee-details.js"></script>
        <script type="module" src="/js/inner_modules/tables.js"></script>

        <script src="/js/sidebar.js"></script>
        <script>

        </script>





</body>

</html>