<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/indexAdmin.css">
        <link rel="stylesheet" href="/css/sessions.css">

</head>

<body>
    <%- include('partials/aside.ejs') %>

        <section id="content">


            <%- include('partials/header.ejs') %>

                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> Ana Sayfa</h1>
                    </div>

                    <div class="content">
                        <div id="appointments">
                            <div class="header">
                                <h1><%= new Date().toLocaleDateString("tr-TR") %></h1>
                            </div>
                            

                            <hr>
                            <div class="time-line-area">

                            </div>


                        </div>
                        <div id="operations">
                            <div class="header">
                                <h1>""</h1>
                            </div>

                            <hr>
                            
                            <div id="operations_content_planned">
                                <h2 style="text-align: center;">Planlanan işlemler</h2>
                                <div class=""></div>
                            </div>
                            <br>
                            <div id="operations_content">
                                
                               
                                    <button class="add btn" id="add_operation_btn" >İşlem Ekle+</button>
                                
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="old_operations">
                            <div class="header">
                                <h1>Eski İşlemler:</h1>
                            </div>  
                           
                            <hr>
                          

                    

                        </div>


                    </div>
                </main>
                <div class="information-modal-wrapper"></div>
                <div class="modal hidden" id="modal_add_operation">
                    <div class="inner_modal">
                        <h2>İşlem Ekle</h2>

                        <form action="./addOperation" id="add_operation_form" onsubmit="return false" method="POST"
                            enctype="multipart/form-data">


                            <div>
                                <span>Devam edenler:</span>
                                <select class="users_continue operations">

                                    <option value="" selected disabled hidden>İşlem seçiniz</option>
                                    <% locals.company.services.forEach(element=> { %>
                                        <% if (element.activeorNot===true) { %>
                                            <option data-price="<%= element.servicePrice %>" value="<%= element._id %>">
                                                <%= element.serviceName %>
                                            </option>
                                            <% } %>
                                                <% }) %>
                                </select>
                                <select class="service_type_add">

                                    <option value="" selected disabled hidden>İşlem seçiniz</option>
                                    <% locals.company.services.forEach(element=> { %>
                                        <% if (element.activeorNot===true) { %>
                                            <option data-price="<%= element.servicePrice %>" value="<%= element._id %>">
                                                <%= element.serviceName %>
                                            </option>
                                            <% } %>
                                                <% }) %>
                                </select>


                                

                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn save form-btn" id="add_operation">Kaydet</button>
                                <button type="button" class="btn cancel form-btn">Vazgeç</button>
                            </div>


                        </form>

                    </div>

                </div>
                <div class="modal hidden" id="add-data-modal">
                    <div class="inner_modal">
                        <h2>Seansa Veri Ekle</h2>
                        <form action="" id="add-data-form" data-operationid="" data-sessionid="" data-dataid="">
                            <div class="form-group">Veri Adı:
                                <select name="datas" id="datas_select_input">
                                    <% locals.company.serviceDatas.forEach(element=> { %>
                                        <option value="<%= element._id %>">
                                            <%= element.dataName %>
                                        </option>

                                        <% }) %>
                                </select>

                                Opsiyon:
                                <select name="datasOption" id="datasOptions_select_input">
                                    <% locals.company.serviceDatas[0].dataOptions.forEach(element=> { %>
                                        <option value="">
                                            <%= element %>
                                        </option>

                                        <% }) %>
                                </select>
                                Sayısal Değer:
                                <input name="dataOptionNumberValue" id="dataOptionNumberValue" type="Number">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn save form-btn"
                                    id="add-data-save-button">Kaydet</button>
                                <button type="button" class="btn cancel form-btn">Vazgeç</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal hidden" id="add-dataToOperation-modal">
                    <div class="inner_modal">
                        <h2>İşleme Veri Ekle</h2>
                        <form action="" id="add-dataToOperation-form" data-operationid="" data-sessionid="">
                            <div class="form-group">Veri Adı:
                                <select name="datas" id="datas_select_input2">
                                    <% locals.company.serviceDatas.forEach(element=> { %>
                                        <option value="<%= element._id %>">
                                            <%= element.dataName %>
                                        </option>
                                        <% }) %>
                                </select>

                                Opsiyon:
                                <select name="datasOption" id="datasOptions_select_input2">
                                    <% locals.company.serviceDatas[0].dataOptions.forEach(element=> { %>
                                        <option value="">
                                            <%= element %>
                                        </option>

                                        <% }) %>
                                </select>
                                Sayısal Değer:
                                <input name="dataOptionNumberValue" class="dataOptionNumberValue" type="Number">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn save form-btn"
                                    id="add-dataToOperation-save-button">Kaydet</button>
                                <button type="button" class="btn cancel form-btn">Vazgeç</button>
                            </div>
                        </form>
                    </div>



                </div>
                <div class="modal hidden" id="edit-data-modal">
                    <div class="inner_modal">
                        <h2>Seans Verisi düzenle</h2>
                        <form action="" id="edit-data-form" data-dataid="" data-operationid="">
                            <div class="form-group">Veri Adı:
                                <input type="text" name="dataNameEdit" id="dataNameEdit" value="" readonly="">
                            </div>
                            <div class="form-group">Opsiyon:
                                <select name="edit_data_option" id="edit_data_option"></select>
                                <option value=""></option>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn save form-btn"
                                    id="edit-data-save-button">Kaydet</button>
                                <button type="button" class="btn cancel form-btn">Vazgeç</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal hidden" id="edit-data-operation-modal">
                    <div class="inner_modal">
                        <h2>Operasyon Verisi düzenle</h2>
                        <form action="" id="edit-data-operation-form" data-dataid="" data-operationid=""></form>
                        <div class="form-group">Veri Adı:
                            <input type="text" name="dataNameEdit" id="operationDataNameEdit" value="" readonly="">
                        </div>
                        <div class="form-group">Opsiyon:
                            <select name="edit_data_option" id="edit_operation_data_option"></select>
                            <option value=""></option>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn save form-btn"
                                id="edit-operation-data-save-button">Kaydet</button>
                            <button type="button" class="btn cancel form-btn">Vazgeç</button>
                        </div>

                        </form>
                    </div>



                </div>
                <div class="modal hidden" id="add-description-modal">
                    <div class="inner_modal">
                        <h2>Seansa Açıklama Ekle</h2>
                        <form action="" id="add-description-form" data-operationid="" data-sessionid="">
                            <div class="form-group">Açıklama:
                                <input type="text" id="add-add-description" name="adddescription">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn save form-btn"
                                    id="add-description-save-button">Kaydet</button>
                                <button type="button" class="btn cancel form-btn">Vazgeç</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal hidden" id="add-descriptioToOperation-modal">
                    <div class="inner_modal">
                        <h2>İşleme Açıklama Ekle</h2>
                        <form action="" id="add-descriptioToOperation-form" data-operationid="">
                            <div class="form-group">Açıklama:
                                <input type="text" id="add-add-descriptioToOperation" name="descriptioToOperation">

                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn save form-btn" id="add-descriptioToOperation-save-button">Kaydet</button>
                                <button type="button" class="btn cancel form-btn">Vazgeç</button>
                            </div>
                        </form>
                    </div>
                </div>

        </section>
        <script src="/js/sidebar.js"></script>
        <script type="module" src="/js/requests.js"></script>
        <script type="module" src="/js/indexAdmin.js"></script>



</body>

</html>