<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/users.css">
</head>

<body>
    <%- include('partials/header.ejs') %>
        <div class="container">
            <!---------- left aside ------------->
            <%- include("partials/aside.ejs") %>


                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> Hizmetler</h1>
                    </div>



                    <div class="search">
                        
                        <div class="add_customer_btn">Hizmet Ekle +</div>

                        <div class="add_customer modal">
                            <h2>Yeni Hizmet Ekle</h2>
                            <form action="./services/addService" method="POST" id="register-form">
                                <div class="inputs ">
                                    <span>İsim</span>
                                    <input type="text" name="serviceName" id="user-name" required
                                        placeholder="Lütfen bir kullanıcı adı giriniz">
                                </div>

                                <div class="inputs ">
                                    <span>Fiyat</span>
                                    <input type="text" name="servicePrice" id="surname">
                                </div>
                                
                                
                            
                                <button type="submit" class="save_button" id="add-user">Kaydet</button>
                                <button class="cancel_button">Vazgeç</button>
                            </form>
                        </div>


                        <div class="print">

                            <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                            <div class="print-selection">
                                <label>Export As &nbsp; &#10140</label>
                                <label for="" class="to_pdf" onclick="window.print()">PDF<span
                                        class="material-symbols-sharp">picture_as_pdf</span></label>
                                <label for="" class="to_json">JSON<span class="material-symbols-sharp"></span></label>
                                <label for="" class="to_xlsx">XLSX<span
                                        class="material-symbols-sharp">description</span></label>
                            </div>

                        </div>


                    </div>


                    <div>

                    </div>
                    <div class="user-table">
                        <table id="user-table-main">
                            <thead>
                                <th><input type="checkbox" class="select_all_rows" option_id="select_all"
                                        onchange="selectAll(this)"><span>Hepsini seç</span></th>
                                <th>Hizmet<span class="material-symbols-sharp ">north</span></th>
                                <th>Fiyat<span class="material-symbols-sharp">north</span></th>
                            </thead>
                            <tbody id="userList">
                                <% services.forEach(service=> { %>
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>
                                            <%= service.serviceName %>
                                        </td>
                                        <td>
                                            <%= service.servicePrice %>
                                        </td>
                                        <td>
                                            <% if(service.activeorNot===true){ %>
                                                <span class="continue">Aktif</span> 
                                              <% } else{ %>  
                                                <span class="finish">Aktif Değil</span> 
                                             <% } %>
                                            
                                        </td>
                                        
                                        <td><a href="./<%= service._id %>">Düzenle</a></td>
                                    </tr>
                                    <% }) %>


                            </tbody>


                        </table>

                    </div>
                    <div class="pagination">
                        <a href=""><span class="page-active">1</span></a>
                        <a href=""><span>2</span></a>
                        <a href=""><span>3</span></a>
                        <a href=""><span>>>Sonraki Sayfa</span></a>

                    </div>
                    <div>
                        <div id="demo"></div>




                </main>
        </div>


        <script type="module" src="../js/autocomplete.js"></script>
        <script type="module" src="../js/requests.js"></script>
        <script type="module" src="../js/users.js"></script>
        <script src="/js/sidebar.js"></script>


</body>

</html>