<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/users.css">
        <link rel="stylesheet" href="/css/services.css">

</head>

<body>
    <%- include("partials/aside.ejs") %>

        <section id="content">
            <!---------- left aside ------------->
            <%- include('partials/header.ejs') %>


                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> Ürünler</h1>
                    </div>
                    <div class="search">
                        <form autocomplete="off" action="./product/searchProduct" id="search-product-form">
                            <div class="autocomplete form-group">
                                <input id="myInput" type="text" name="barcode" value="8699708260193" placeholder="<%= "Ürün Barkodu"%>" autofocus>
                                <input type="submit" value="Ara">
                            </div>

                        </form>
                        <div id="add_product_btn"><button class="buttons">Barkodlu Ürün Ekle +</button></div>


                    </div>
                    <br>
                    <hr>
                    <br>
                    <!-- <div class="product-list">
                        <form autocomplete="off" action="./product/searchProduct" id="product-list-form">
                            <div class="autocomplete form-group">
                                <input id="myInput" type="text" name="productName" value="" placeholder="<%= "Ürün İsmi"%>" minlength="5">
                                <input type="submit" value="Ara">
                            </div>

                        </form>

                    </div> -->

                    <div class="print">

                        <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                        <div class="print-selection">
                            <label>Yazdır &nbsp; &#10140</label>
                            <label for="" class="to_pdf">PDF<span
                                    class="material-symbols-sharp">picture_as_pdf</span></label>

                            <label for="" class="to_xlsx">XLSX<span
                                    class="material-symbols-sharp">description</span></label>
                        </div>

                    </div>
                    <div class="table-wrapper">
                        <table id="product-table">
                            <thead>

                                <th>Barkod</th>
                                <th>Ürün Markası</th>
                                <th>Ürün adı</th>
                                <th>Satış Fiyatı</th>
                                <th>Birim Maliyet</th>
                                <th>Komisyon Oranı</th>
                                <th>Stok</th>
                                <th></th>
                            </thead>
                            <tbody>
         
                            </tbody>


                        </table>

                    </div>

                </main>


        </section>
        <div class="modal hidden" id="fix_stock">
            <div class="inner_modal">
                <h2>Stok Düzelt</h2>
                
                <form action="./products/fixStock" method="POST" id="fix-stock-form">
                    <div style="color: red; border: 1px solid red; text-align: center;">!!Lütfen dikkatli olunuz. Girdiğiniz rakam ürünün stoğu olarak güncellenecektir.</div>
                    <div class="form-group ">
                        <span>Adet:</span>
                        <input  type="Number" name="quantity" id="quantity"  placeholder="Adet giriniz." required>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal hidden" id="update_comission">
            <div class="inner_modal">
                <h2>Komisyon Düzenleme</h2>
                
                <form action="./products/fixStock" method="POST" id="update_comission_form">
                    <div class="form-group ">
                        <span>Komisyon Oranı (%):</span>
                        <input  type="Number" name="comission" id="comission"  placeholder="Rakam giriniz." required>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal hidden" id="show-stocks-modal">
            <div class="inner_modal">
                <h2>Stoklar</h2>
                <form action="./products/addStock" method="POST" id="show-stocks-form">
                </form>
                <div class="form-group">
                    <button type="button" class="btn cancel form-btn">Kapat</button>
                </div>
            </div>

        </div>
        <div class="modal hidden" id="add_stock">
            <div class="inner_modal">
                <h2>Stok ekle</h2>
                <form action="./products/addStock" method="POST" id="add-stock-form">
                    <div class="form-group ">
                        <span>Adet:</span>
                        <input  type="Number" name="quantity" id="quantity"  placeholder="Adet giriniz." required>
                    </div>
                    <div class="form-group ">
                        <span>Birim Maliyet:</span>
                        <input  type="Number" name="unitCost" id="unitCost" value="0"  placeholder="Birim maliyet giriniz.">
                    </div>
                 
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="edit-product">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal hidden" id="edit_product">
            <div class="inner_modal">
                <h2>Ürün Düzenle</h2>
                <form action="./products/editProduct" method="POST" id="edit-product-form">
                    <div class="form-group ">
                        <span>Ürün Markası:</span>
                        <input required="" type="text" list="brands" name="brand" id="brands-select" autocomplete="off" placeholder="Marka Seçiniz">
                        <!-- <input type="text" name="brand" id="product-brand" required placeholder="Ürün Markası giriniz"> -->
                        <datalist id="brands">
                            <% BRAND_LIST.forEach(element=> { %>
                                <option data-brandName="<%= element %>" value="<%= element %>">
                                </option>
                                <% }) %>

                        </datalist>
                    </div>
                    <div class="form-group ">
                        <span>Ürün Adı:</span>
                        <input type="text" name="name" id="name" required placeholder="Ürün adı giriniz" required>
                    </div>
                   
                    <div class="form-group">
                        <span>Satış Fiyatı</span>
                        <input type="number" name="price" id="product-price" placeholder="Ürün için fiyat giriniz">
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="edit-product">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal hidden" id="add_product">
            <div class="inner_modal">
                <h2>Yeni Ürün Ekle</h2>
                <form action="./products/addProduct" method="POST" id="add-product-form">
                    <div class="form-group ">
                        <span>Ürün Markası:</span>
                        <input required="" type="text" list="brands" name="brands" id="brands-select" autocomplete="off" placeholder="Marka Seçiniz">
                        <!-- <input type="text" name="brand" id="product-brand" required placeholder="Ürün Markası giriniz"> -->
                        <datalist id="brands">
                            <% BRAND_LIST.forEach(element=> { %>
                                <option data-brandName="<%= element %>" value="<%= element %>">
                                </option>
                                <% }) %>

                        </datalist>
                    </div>
                    <div class="form-group ">
                        <span>Ürün Adı:</span>
                        <input type="text" name="name" id="product-name" required placeholder="Ürün adı giriniz" required>
                    </div>
                    <div class="form-group">
                        <span>Barkod</span>
                        <input type="number" name="barcode" id="barcode" data-type="" placeholder="Ürünün barkodunu okutun" required>
                    </div>
                    <div class="form-group">
                        <span>Satış Fiyatı</span>
                        <input type="number" name="price" id="product-price" placeholder="Ürün için fiyat giriniz">
                    </div>
                    
                    <div class="form-group">
                        <span>Maliyet Fiyatı</span>
                        <input type="number" name="unitCost" id="unitCost"  placeholder="Maliyet fiyat giriniz">
                    </div>
                    <div class="form-group">
                        <span>Stok</span>
                        <input type="number" name="quantity" id="quantity"placeholder="Elinizdeki stoğu giriniz">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="toast-container"></div>


        <script type="module" src="/js/main.js"></script>
        <script src="/js/sidebar.js"></script>
        <script type="module" src="/js/products.js"></script>





</body>

</html>