<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/users.css">
        <link rel="stylesheet" href="/css/services.css">

</head>

<body>
    <%- include("partials/aside.ejs") %>

        <section id="content">
            <!---------- left aside ------------->
            <%- include('partials/header.ejs') %>


                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> Ürünler</h1>
                    </div>
                    <div class="search">
                        <form autocomplete="off" action="./product/searchProduct" id="search-product-form">
                            <div class="autocomplete form-group">
                                <input id="myInput" type="text" name="barcode" value="" placeholder="<%= "Ürün Barkodu"%>" autofocus>
                                <input type="submit" value="Ara">
                            </div>

                        </form>
                        <div id="add_product_btn"><button class="buttons">Barkodlu Ürün Ekle +</button></div>


                    </div>

                    <div class="print">

                        <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                        <div class="print-selection">
                            <label>Yazdır &nbsp; &#10140</label>
                            <label for="" class="to_pdf">PDF<span
                                    class="material-symbols-sharp">picture_as_pdf</span></label>

                            <label for="" class="to_xlsx">XLSX<span
                                    class="material-symbols-sharp">description</span></label>
                        </div>

                    </div>
                    <div class="table-wrapper">
                        <table id="product-table">
                            <thead>

                                <th>Ürün adı</th>
                                <th>Fiyat</th>
                                <th>Stok</th>
                                <th></th>
                            </thead>
                            <tbody>
         
                            </tbody>


                        </table>

                    </div>

                </main>


        </section>
        <div class="modal hidden" id="add_product">
            <div class="inner_modal">
                <h2>Yeni Ürün Ekle</h2>
                <form action="./products/addProduct" method="POST" id="add-product-form">
                    <div class="form-group ">
                        <span>Ürün Markası:</span>
                        <input required="" type="text" list="brands" name="brands" id="brands-select" autocomplete="off" placeholder="Marka Seçiniz">
                        <!-- <input type="text" name="brand" id="product-brand" required placeholder="Ürün Markası giriniz"> -->
                        <datalist id="brands">
                            <% BRAND_LIST.forEach(element=> { %>
                                <option data-brandName="<%= element %>" value="<%= element %>">
                                </option>
                                <% }) %>

                        </datalist>
                    </div>
                    <div class="form-group ">
                        <span>Ürün Adı:</span>
                        <input type="text" name="name" id="product-name" required placeholder="Ürün adı giriniz" required>
                    </div>
                   
                    <div class="form-group">
                        <span>Satış Fiyatı</span>
                        <input type="number" name="price" id="product-price" placeholder="Ürün için fiyat giriniz">
                    </div>
                    
                    <div class="form-group">
                        <span>Barkod</span>
                        <input type="number" name="barcode" id="barcode" data-type="" placeholder="Ürünün barkodunu okutun" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="add-product">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="information-modal-wrapper"></div>


        <script type="module" src="/js/main.js"></script>
        <script src="/js/sidebar.js"></script>
        <script type="module" src="/js/products.js"></script>





</body>

</html>