<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/users.css">
</head>

<body>
    <%- include("partials/aside.ejs") %>
    <!----------- end of sidebar ----------->
        <section id="content">
            <!---------- left aside ------------->
            <%- include('partials/header.ejs') %>


                

                <main>

                    <div class="header">
                        <h1> <%= header %></h1>
                    </div>
                    

                    <div class="search">
                        <form autocomplete="off" action="./search?page=1&limit=3">
                            <div class="autocomplete form-group">
                                <input id="myInput" type="text" name="user" placeholder="Hasta Seç" value="<%= defaultSearchValue %>">
                                
                                <input type="submit" value="Ara">
                            </div>

                        </form>
                        <div class="add_customer_btn">Hasta Ekle +</div>

                    </div>

                    <div class="print">

                        <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                        <div class="print-selection">
                            <label>Export As &nbsp; &#10140</label>
                            <label for="" class="to_pdf" onclick="window.print()">PDF<span
                                    class="material-symbols-sharp">picture_as_pdf</span></label>
                            <label for="" class="to_json">JSON<span class="material-symbols-sharp"></span></label>
                            <label for="" class="to_xlsx">XLSX<span
                                    class="material-symbols-sharp">description</span></label>
                        </div>

                    </div>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                
                                <th>İsim<i class="ph-bold ph-arrow-up"></i></th>
                                <th>Soyisim<i class="ph-bold ph-arrow-up"></i></td>
                                <th>Telefon<i class="ph-bold ph-arrow-up"></i></th>
                                
                            </thead>
                            <tbody id="userList">
                                <% data.forEach(user=> { %>
                                    <tr>
                                        
                                        <td>
                                            <%= user.name %>
                                        </td>
                                        <td>
                                            <%= user.surname %>
                                        </td>
                                        
                                        <td><span class="continue"> <%= user.phone %></span> </td>
                                        <td><a href="./<%= user._id %>">Detay</a></td>
                                    </tr>
                                    <% }) %>


                            </tbody>


                        </table>
                        
                    </div>
                    <div class="pagination-describe">
                        Toplam <%= total %> hasta içerisinden <%= count %> kişi listelendi
                    </div>
                    <div class="pagination">
                        
                            <% if (pagination.previous ) { %>
                                <a href="./search?page=<%= pagination.previous.page %>&limit=<%= pagination.previous.limit %>"><span >Önceki Sayfa<<<</a>
                            <% } %>
                            
                            <% if (pagination.page>1) { %>
                                <a href="./search?page=<%= pagination.page-1 %>&limit=<%=3 %>"><span><%= pagination.page-1 %></span></a>
                            <% } %>
                            
                            <a href="./search?page=<%= pagination.page %>&limit=<%=3 %>"><span class="page-active"><%= pagination.page %></span></a>

                            <% if (pagination.page<=pagination.lastpage) { %>
                                <a href="./search?page=<%= pagination.page+1 %>&limit=<%=3 %>"><span ><%= pagination.page+1 %></span></a>
                            <% } %>
                            

                             <% if (pagination.next) { %>
                                <a href="./search?page=<%= pagination.next.page %>&limit=<%= pagination.next.limit %>"><span> >>Sonraki Sayfa</span></a>
                            <% } %>
                             
                    </div>
                   
                </main>
               
            </section>
            <div class="information-modal-wrapper"></div>
            <div class="modal hidden" id="add_customer">
                <div class="inner_modal">
                    <h2>Yeni Hasta Ekle</h2>
                    <form action="../users/createUser" method="POST" id="register-form">
                        <div class="form-group ">
                            <span>İsim</span>
                            <input type="text" name="name" id="user-name" required
                                placeholder="Lütfen bir kullanıcı adı giriniz">
                        </div>
    
                        <div class="form-group ">
                            <span>Soyisim</span>
                            <input type="text" name="surname" id="surname">
                        </div>
                        <div class="options">
                            <span>Cinsiyet:</span>
                            <div>
                                <input type="radio" id="sex-women" name="sex" value="kadın" checked="checked">
                                  <label for="sex-women">Kadın</label>
    
                                <input type="radio" id="sex-man" name="sex" value="erkek">
                                  <label for="sex-man">Erkek</label>
    
    
    
    
                            </div>
    
    
                        </div>
                        <div class="form-group ">
                            <span>Doğum Tarihi</span>
                            <input type="date" name="birtdhDate" id="birtdhDate">
                        </div>
                        <div class="form-group ">
                            <span>Adres</span>
                            <input type="text" name="address" id="address">
    
                        </div>
                        <div class="form-group ">
                            <span>Telefon</span>
                            <input type="number" name="phone" id="phone">
                        </div>
                        <div class="form-group ">
                            <span>Mail</span>
                            <input type="email" name="email" id="email">
                        </div>
    
                        <div class="form-group ">
                            <span>Fatura Bilgisi:</span>
                            <textarea name="billingAddress" id="billingAddress" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <span>Açıklama</span>
                            <textarea name="notes" id="notes" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn save form-btn" id="add-user">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                        </div>
                    </form>
                </div>
                
            </div>

       
        <script type="module" src="/js/requests.js"></script>
        <script type="module" src="/js/users.js"></script>
        <script src="/js/sidebar.js"></script>



</body>

</html>