<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/users.css">
        <link rel="stylesheet" href="/css/services.css">

</head>

<body>
    <%- include("partials/aside.ejs") %>

        <section id="content">
            <!---------- left aside ------------->
            <%- include('partials/header.ejs') %>


                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> Hizmetler</h1>
                    </div>
                    <div class="search">
                        <form autocomplete="off" action="./search">
                            <div class="autocomplete form-group">
                                <input id="myInput" type="text" name="services" placeholder="Hizmet Seç">
                                <input type="submit" value="Ara">
                            </div>

                        </form>
                        <div id="add_service_btn"><button class="buttons">Hizmet Ekle +</button></div>



                    </div>

                    <div class="print">

                        <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                        <div class="print-selection">
                            <label>Yazdır &nbsp; &#10140</label>
                            <label for="" class="to_pdf">PDF<span
                                    class="material-symbols-sharp">picture_as_pdf</span></label>

                            <label for="" class="to_xlsx">XLSX<span
                                    class="material-symbols-sharp">description</span></label>
                        </div>

                    </div>
                    <div class="table-wrapper">
                        <table>
                            <thead>

                                <th>Hizmet<i class="fa-solid fa-arrow-up"></i></th>
                                <th>Veri<i class="fa-solid fa-arrow-up"></i></th>
                                <th>Fiyat<i class="fa-solid fa-arrow-up"></i></th>
                                <th>Aktiflik<i class="fa-solid fa-arrow-up"></i></th>
                            </thead>
                            <tbody id="userList">
                                <% services.forEach(service=> { %>
                                    <tr>

                                        <td>
                                            <%= service.serviceName %>
                                        </td>
                                        <td>
                                            <% service.serviceData.forEach(element=> { %>
                                                <%= element %>
                                                    <% }) %>
                                        </td>
                                        <td>
                                            <div class="inputs" data-servicesID="<%= service._id %>">
                                                <input type="number" class="price_inputs"
                                                    value="<%= service.servicePrice %>">
                                                <i class="ph ph-floppy-disk input_save_buttons"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <% if(service.activeorNot===true){ %>
                                                <span class="continue">Aktif</span>
                                                <% } else{ %>
                                                    <span class="finish">Pasif</span>
                                                    <% } %>

                                        </td>
                                        <% if(service.activeorNot){ %>
                                            <td><a class="button"
                                                    href="./services/<%= service._id %>/deactivateService">Pasif Et</a>
                                            </td>
                                            <% } else{ %>
                                                <td><a href="./services/<%= service._id %>/activateService">Aktif Et</a>
                                                </td>
                                                <% } %>


                                    </tr>
                                    <% }) %>


                            </tbody>


                        </table>

                    </div>

                </main>


        </section>
        <div class="modal hidden" id="add_service">
            <div class="inner_modal">
                <h2>Yeni Hizmet Ekle</h2>
                <form action="./services/addService" method="POST" id="register-form">
                    <div class="form-group ">
                        <span>Hizmet Adı:</span>
                        <input type="text" name="serviceName" id="user-name" required placeholder="Hizmet adı giriniz">
                    </div>

                    <div class="form-group">
                        <span>Fiyat</span>
                        <input type="number" name="servicePrice" id="surname" placeholder="hizmet için fiyat giriniz"
                            required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="add-user">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="information-modal-wrapper"></div>


        <script type="module" src="/js/main.js"></script>
        <script src="/js/sidebar.js"></script>
        <script type="module" src="/js/services.js"></script>





</body>

</html>