<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/users.css">
        <link rel="stylesheet" href="/css/services.css">
</head>

<body>
    <%- include("partials/aside.ejs") %>
    
        <section id="content">
            <!---------- left aside ------------->
            <%- include('partials/header.ejs') %>


                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> Hizmetler</h1>
                    </div>
                    <div class="search">
                        <form autocomplete="off" action="./search">
                            <div class="autocomplete inputs">
                                <input id="myInput" type="text" name="services" placeholder="Hizmet Seç">
                                <input type="submit" value="Ara">
                            </div>

                        </form>
                        <div class="add_service_btn "><button>Hizmet Ekle +</button></div>

                    </div>

                    <div class="print">

                        <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                        <div class="print-selection">
                            <label>Export As &nbsp; &#10140</label>
                            <label for="" class="to_pdf" onclick="window.print()">PDF<span
                                    class="material-symbols-sharp">picture_as_pdf</span></label>
                            <label for="" class="to_json">JSON<span class="material-symbols-sharp"></span></label>
                            <label for="" class="to_xlsx">XLSX<span
                                    class="material-symbols-sharp">description</span></label>
                        </div>

                    </div>
                    <div class="table-wrapper">
                        <table>
                            <thead>

                                <th>Hizmet<i class="ph-bold ph-arrow-up"></i></th>
                                <th>Fiyat<i class="ph-bold ph-arrow-up"></i></th>
                            </thead>
                            <tbody id="userList">
                                <% services.forEach(service=> { %>
                                    <tr>

                                        <td>
                                            <%= service.serviceName %>
                                        </td>
                                        <td>
                                            <div class="inputs" data-servicesID="<%= service._id %>">
                                                <input type="text" class="price_inputs" value="<%= service.servicePrice %>">
                                                <i class="ph ph-floppy-disk save_buttons"></i>
                                            </div>
                                        </td>
                                        <td>
                                            <% if(service.activeorNot===true){ %>
                                                <span class="continue">Aktif</span>
                                                <% } else{ %>
                                                    <span class="finish">Deaktif</span>
                                                    <% } %>

                                        </td>
                                        <% if(service.activeorNot){ %>
                                            <td><a href="./services/<%= service._id %>/deactivateService">Deaktive Et</a></td>
                                            <% } else{ %>
                                                <td><a href="./services/<%= service._id %>/activateService">Aktif Et</a></td>
                                                <% } %>

                                                    
                                    </tr>
                                    <% }) %>


                            </tbody>


                        </table>

                    </div>
                   
                    
                    <div class="add_service modal">
                        <h2>Yeni Hizmet Ekle</h2>
                        <form action="./services/addService" method="POST" id="register-form">
                            <div class="inputs ">
                                <span>Hizmet Adı:</span>
                                <input type="text" name="serviceName" id="user-name" required
                                    placeholder="Lütfen bir kullanıcı adı giriniz">
                            </div>

                            <div class="inputs" >
                                <span>Fiyat</span>
                                <input type="number" name="servicePrice" id="surname" required>
                            </div>



                            <button type="submit" class="save_button" id="add-user">Kaydet</button>
                            <button class="cancel_button">Vazgeç</button>
                        </form>
                    </div>

                </main>
                <div class="information-modal">AAAA</div>
        </section>


        
        <script type="module" src="/js/requests.js"></script>
        
        <script type="module" src="/js/services.js"></script>
        <script src="/js/sidebar.js"></script>


</body>

</html>