<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>archmietCRM-V1</title>
    <!-- material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/sessions.css">
    <link rel="stylesheet" href="/css/user-details.css">


</head>

<body>
    <%- include('partials/header.ejs') %>
        <div class="container">
            <!---------- left aside ------------->
            <%- include('partials/aside.ejs') %>

                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> Randevular 222</h1>
                        <div class="current_date"></div>
                        <div class="main main-sessions">
                            <!-- yeni modal           -->
                            <div class="modal modal_session ">

                                <h2>Seans Ekle</h2>

                                <form action="./sessions/createsession" method="POST">
                                    <div class="inputs">


                                        <div class="title">
                                            <span>İşlem Tipi:</span>
                                            <% services.forEach(service=> { %>
                                                <input type="checkbox" id="vehicle1" name="services"
                                                    value="<%= service._id %>">
                                                <label for="vehicle1">
                                                    <%= service.serviceName %>
                                                </label><br>
                                                <% }) %>



                                                    <!-- <select name="services" class="proccess_type" id="processes" multiple>
                                                <% services.forEach(service=> { %>
                                                    <option value="<%= service._id %>">
                                                        <%= service.serviceName %>
                                                    </option>
                                                    <% }) %>
                                            </select> -->
                                                    <div class="selected_proccess_type">

                                                        <!-- <div>Bakım<i class="fa-solid fa-x"></i></div> -->
                                                    </div>
                                        </div>

                                    </div>
                                    <div class="add-event-body">
                                        <div class="inputs">Hasta:
                                            <select name="user" class="proccess_type" id="processes" required>

                                                <% users.forEach(user=> { %>
                                                    <option value="<%= user._id %>">
                                                        <%= user.name %>
                                                    </option>
                                                    <% }) %>
                                            </select>

                                        </div>
                                        <div class="inputs">Doktor:
                                            <input type="text" name="" id="" class="doktor-name" disabled>
                                        </div>
                                        <div class="inputs">Tarih:
                                            <input type="date" name="date" placeholder="Tarih" class="event-time-from"
                                                required>
                                        </div>
                                        <div class="inputs"> Saat:
                                            <select name="time" class="event-time-from" required>
                                                <option value="0">6:00-6:15</option>
                                                <option value="1">6:15-6:30</option>
                                                <option value="2">6:30-6:45</option>
                                                <option value="3">6:45-7:00</option>
                                                <option value="4">7:00-7:15</option>


                                            </select>

                                        </div>

                                        <div class="inputs">Not:
                                            <input type="text" name="description" cplaceholder="notlar"
                                                class="event-time-from">
                                        </div>

                                        <button type="submit" class="save_button">Seans Ekle +</button>

                                        <span class="cancel_button">Vazgeç</span>

                                    </div>
                                </form>






                            </div>
                            <div class="left">
                                <div class="calendar">
                                    <div class="month">
                                        <i class="fa-solid fa-chevron-left prev"></i>
                                        <div class="date1">Mayıs 2023</div>
                                        <i class="fa-solid fa-chevron-right next"></i>
                                    </div>
                                    <div class="weekdays">
                                        <div>Pazartesi</div>
                                        <div>Salı</div>
                                        <div>Çarşamba</div>
                                        <div>Perşembe</div>
                                        <div>Cuma</div>
                                        <div>Cumartesi</div>
                                        <div>Pazar</div>
                                    </div>
                                    <div class="days">

                                    </div>
                                    <div class="goto-today">
                                        <div class="goto">
                                            <input type="text" class="date-input" placeholder="mm//yyyy">
                                            <button class="goto-btn">go</button>
                                        </div>
                                        <button class="today-btn">today</button>
                                    </div>
                                </div>
                            </div>

                            <div class="right">

                                <div class="today-date">
                                    <div class="event-day">Pazartesi</div>
                                    <div class="event-date"> 22 Mayıs 2023</div>
                                </div>
                                <div class="events-all-doctors">
                                    <% doctors.forEach(doctor=> { %>
                                        <div class="single-doctor-area">
                                            <div class="doctor-name" value="<%= doctor.name %>">

                                                <%= doctor.name %>

                                            </div>
                                            <div class="single-doctor-events">
                                                <!-- <div class="event full">

                                                    <div class="center">
                                                        <span>06:00-06:15</span>
                                                        <hr>
                                                        <span>Ahmet Oral</span>
                                                    </div>
                                                    <div class="">
                                                        <span class="material-symbols-sharp edit-session">
                                                            more_vert
                                                        </span>
                                                        <div class="session-options-modal">
                                                            <a href="#">Düzenle</a>
                                                            <a href="#">Sil</a>
                                                            <a href="#">Başarılı</a>
                                                            <a href="#">İptal</a>
                                                        </div>


                                                    </div>
                                                </div>
                                                <div class="event">

                                                    <span>06:15-06:30</span>
                                                    <span class="material-symbols-sharp add-session">
                                                        add
                                                    </span>

                                                </div> -->
                                            </div>
                                        </div>
                                        <% }) %>


                                </div>











                            </div>

                        </div>
                </main>
        </div>

        <script type="module" src="/js/requests.js"></script>
        <script type="module" src="/js/ui.js"></script>
        <script type="module" src="../js/sessions.js"></script>
        <script type="module" src="/js/user_details.js"></script>

</body>

</html>