<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="../css/sessions.css">



</head>

<body>

    <%- include('partials/header.ejs') %>
        <div class="container">
            <!---------- left aside ------------->
            <%- include('partials/aside.ejs') %>

                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> Randevular 222</h1>
                        <div class="current_date"></div>
                        <div class="main main-sessions">


                            <div class="left">
                                <div class="calendar">
                                    <div class="month">
                                        <i class="fa-solid fa-chevron-left prev"></i>
                                        <div class="date1">Mayıs 2023</div>
                                        <i class="fa-solid fa-chevron-right next"></i>
                                    </div>
                                    <div class="weekdays">
                                        <div>Pa</div>
                                        <div>Sa</div>
                                        <div>Ça</div>
                                        <div>Pe</div>
                                        <div>Cu</div>
                                        <div>Ct</div>
                                        <div>Pz</div>
                                    </div>
                                    <div class="days">

                                    </div>
                                    <div class="goto-today">
                                        <div class="goto">
                                            <input type="text" class="date-input" placeholder="mm//yyyy">
                                            <button class="goto-btn">go</button>
                                        </div>
                                        <button class="today-btn">today</button>
                                    </div>
                                </div>
                            </div>

                            <div class="right">

                                <div class="today-date">
                                    <div class="event-day">Pazartesi</div>
                                    <div class="event-date"> 22 Mayıs 2023</div>
                                </div>
                                <div class="events-all-doctors">


                                </div>


                            </div>

                        </div>
                </main>
                <div class="modal modal_add_session ">

                    <h2>Seans Ekle</h2>

                    <form action="./sessions/createsession" method="POST">
                        <div class="inputs">

                            <div class="title">
                                <span>İşlem Tipi:</span>
                                <% services.forEach(service=> { %>
                                    <input type="checkbox" id="service1" name="services" value="<%= service._id %>">
                                    <label for="service1">
                                        <%= service.serviceName %>
                                    </label><br>
                                    <% }) %>

                                        <!-- <select name="services" class="proccess_type" id="processes" multiple>
                                    <% services.forEach(service=> { %>
                                        <option value="<%= service._id %>">
                                            <%= service.serviceName %>
                                        </option>
                                        <% }) %>
                                </select> -->
                                        <div class="selected_proccess_type">

                                            <!-- <div>Bakım<i class="fa-solid fa-x"></i></div> -->
                                        </div>
                            </div>

                        </div>
                        <div class="add-event-body">
                            <div class="inputs">Hasta:
                                <select name="user" class="proccess_type" id="processes" required>

                                    <% users.forEach(user=> { %>
                                        <option value="<%= user._id %>">
                                            <%= user.name %>
                                        </option>
                                        <% }) %>
                                </select>

                            </div>

                            <div class="inputs"  style="display: none;">timeIndex:
                                <input type="text" name="timeIndex" id="" class="timeIndex">
                            </div>
                            <div class="inputs">Saat:
                                <input type="text" name="" id="" class="hourValue" readonly>
                            </div>
                            <div class="inputs" style="display: none;">SaatFull:
                                <input type="text" name="timeValue" id="" class="timeValue" readonly>
                            </div>
                            <div class="inputs">Doktor:
                                <input type="text" id="" class="doctor-name" readonly>
                            </div>
                            <div class="inputs" style="display: none;">DoktorID:
                                <input type="text" name="doctor" id="" class="doctor-id">
                            </div>
                            <div class="inputs">Tarih:
                                <input type="date" name="date" placeholder="Tarih" class="event-date-from" readonly>
                            </div>


                            <div class="inputs">Not:
                                <input type="text" name="description" cplaceholder="notlar">
                            </div>

                            <button type="submit" class="save_button">Seans Ekle +</button>
                            

                            <span class="cancel_button">Vazgeç</span>

                        </div>
                    </form>

                </div>
                <div class="modal modal_update_session ">

                    <h2>Seans Düzenle</h2>

                    <form action="./sessions/updateSession <%=  %>" method="POST">
                        <div class="inputs">

                            <div class="title">
                                <span>İşlem Tipi:</span>
                                <% services.forEach(service=> { %>
                                    <input type="checkbox" id="service1" name="services" value="<%= service._id %>">
                                    <label for="service1">
                                        <%= service.serviceName %>
                                    </label><br>
                                    <% }) %>

                                        <!-- <select name="services" class="proccess_type" id="processes" multiple>
                                    <% services.forEach(service=> { %>
                                        <option value="<%= service._id %>">
                                            <%= service.serviceName %>
                                        </option>
                                        <% }) %>
                                </select> -->
                                        <div class="selected_proccess_type">

                                            <!-- <div>Bakım<i class="fa-solid fa-x"></i></div> -->
                                        </div>
                            </div>

                        </div>
                        <div class="add-event-body">
                            <div class="inputs">Hasta:
                                <select name="user" class="proccess_type" id="processes" required>

                                    <% users.forEach(user=> { %>
                                        <option value="<%= user._id %>">
                                            <%= user.name %>
                                        </option>
                                        <% }) %>
                                </select>

                            </div>

                            <div class="inputs"  style="display: ;">timeIndex:
                                <input type="text" name="timeIndex" id="" class="timeIndex">
                            </div>
                            <div class="inputs">Saat:
                                <input type="text" name="" id="" class="hourValue" readonly>
                            </div>
                            <div class="inputs" style="display: none;">SaatFull:
                                <input type="text" name="timeValue" id="" class="timeValue" readonly>
                            </div>
                            <div class="inputs">Doktor:
                                <input type="text" id="" class="doctor-name" readonly>
                            </div>
                            <div class="inputs" style="display: ;">DoktorID:
                                <input type="text" name="doctor" id="" class="doctor-id">
                            </div>
                            <div class="inputs">Tarih:
                                <input type="date" name="date" placeholder="Tarih" class="event-date-from" readonly>
                            </div>


                            <div class="inputs">Not:
                                <input type="text" name="description" cplaceholder="notlar">
                            </div>

                            <button type="submit" class="save_button">Kaydet</button>
                            
                            <span class="cancel_button">Vazgeç</span>

                        </div>
                    </form>

                </div>
        </div>

        <script type="module" src="/js/requests.js"></script>
        <script type="module" src="/js/ui.js"></script>
        <script type="module" src="../js/sessions.js"></script>

        <script src="/js/sidebar.js"></script>

</body>

</html>