<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>

        <link rel="stylesheet" href="/css/user-details.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- js ----------- -->
        <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
</head>

<body>
    <%- include("partials/aside.ejs") %>

        <section id="content">
            <!---------- left aside ------------->

            <%- include('partials/header.ejs') %>
                <!----------- end of sidebar ----------->

                <main>
                    <div class="user-informations">

                        <div class="left_section">
                            <div class="user-img"><i class="ph-bold ph-user"></i></div>
                            <input type="text" class="userID" data-user="<%= company._id %>" hidden>

                            <div class="show-content informations">Genel Bilgiler<i
                                    class="fa-solid fa-pen-to-square edit"></i>
                            </div>
                            <div class="show-content informations">Evraklar<i
                                    class="fa-solid fa-pen-to-square edit"></i>
                            </div>
                            <div class="show-content sessions">Sms Ayarları
                                <i class="fa-solid fa-pen-to-square edit"></i>
                            </div>
                            <div class="show-content sessions">Şifre Ayarları
                                <i class="fa-solid fa-pen-to-square edit"></i>
                            </div>
                         
                          
                        </div>


                        <div class="right_section">


                            <div class="contents">

                                <div class="userInformationsContent showed_content  generals ">
                                    <div>
                                        <h2>Genel Bilgiler</h2>
                                    </div>
                                    <div class="form-group ">
                                        <span>Marka:</span>
                                        <input type="text" name="brandName" id="name" value="<%= company.brandName %>"
                                            readonly>
                                    </div>
                                    <div class="form-group ">
                                        <span>Şirket İsmi:</span>
                                        <input type="text" name="companyName" id="surname"
                                            value="<%= company.companyName %>" readonly>
                                    </div>


                                    <div class="form-group ">
                                        <span>Mail</span>
                                        <input type="email" name="email"  value="<%= company.email %>" readonly>
                                    </div>
                                    <div class="form-group ">
                                        <span>Telefon:</span>
                                        <input type="text" name="phone"  value="<%= company.phone %>" readonly>
                                    </div>

                                    <div class="form-group">
                                        <span>Adres:</span>
                                        <input type="text" name="address" value="<%= company.address %>" readonly>
                                    </div>
                                    <div class="form-group">
                                        <span>Fatura Adresi:</span>
                                        <input type="text" name="billingAddress" value="<%= company.billingAddress %>"
                                            readonly>
                                    </div>
                                    <div class="form-group">
                                        <span>Başlangıç Saati:</span>
                                        <input type="text" name="workHours"
                                            value="<%=locals.company.workHours.workStart %>" readonly>
                                    </div>
                                    <div class="form-group">
                                        <span>Bitiş Saati:</span>
                                        <input type="text" name="workHours"
                                            value="<%= locals.company.workHours.workEnd%>" readonly>
                                    </div>
                                    <div class="form-group">
                                        <span>Seans Süresi:</span>
                                        <input type="text" name="workHours"
                                            value="<%=locals.company.workHours.workPeriod%>" readonly>
                                    </div>


                                    <span class="edit-informations-btn">Düzenle</span>


                                </div>
                                <div class="userInformationsContent docs ">
                                    <div>
                                        <h2>Dosyalar</h2>
                                    </div>
                                    <div class="docs_area">
            
                                        <% missedDocs.forEach((element,index) => { %>
                                        
                                            <div class="form-group">

                                                <%= element.name %> (yüklenmedi)
                                                <input type="file" id="<%= element.key %>" />
                                                <button onclick="" data-dockey="<%= element.key %>" class="add_doc btn success">Yükle</button>
                                                </div>
                                        <% }) %>
                                        <% finishedDocs.forEach((element,index) => { %>
                                            
                                                <% if(element.status===DOC_STATUS.REJECTED){ %>
                                                    <div class="form-group">
                                                        
                                                        <a href="<%= element.url %>" target="_blank"><i class="fa-regular fa-file"></i><%= element.name %></a> (<%= element.status %>)
                                                            <input type="file" id="<%= element.docKey %>" />
                                                            <button  class="add_doc btn success" data-dockey="<%= element.docKey %>">Değiştir</but>
                                                    </div>
                                                   
                                                  <% } else{ %>  
                                                    <div class="form-group">
                                                        <a href="<%= element.url %>" target="_blank"><i class="fa-regular fa-file"></i> <%= element.name %></a> (<%= element.status %>)

                                                    </div>
                                                   
                                                </a>
                                                 <% } %>
             
                                        <% }) %>

                                </div>

                                </div>

                                <div class="userInformationsContent payments">
                                    <div><h2>Sms ayarları</h2></div>
                                    <div>
                                        
                                            <div class="form-group">
                                                <span>Sms Gönderebilme:</span> <p>(evraklar onaylandıktan sonra değişecektir,öncesinde sms göndremezsiniz.)</p>
                                                <input type="text" class="disable" name="smsTitle" id="smsTitle" value="<% if(company.smsActive===true){ %>Aktif
                                                  <% } else{ %>Pasif
                                                 <% } %>" readonly>
                                            </div>
                                            <div class="form-group">
                                                <span>Başlık:</span><p>(göndereceğiniz evraklar doğrultusunda belirlenecektir.)</p>
                                                <input type="text" class="disable" name="smsTitle" id="smsTitle" value="<%= company.smsConfig.smsTitle %>" readonly>
                                            </div>
                                        
                                    </div>
                                    <div>
                                        <form action="./settings/<%= company._id %>/updateSmsConfig" method="POST"
                                            id="update-smsConfig-form" enctype="multipart/form-data">
                                            
                                            <div class="form-group">
                                                <span>Kullanıcı Adı:</span>
                                                <input type="text" name="userName" id="userName" value="<%= company.smsConfig.userName %>">
                                            </div>
                                            <div class="form-group">
                                                <span>Şifre</span>
                                                <input type="password" name="password" id="password" value="" placeholder="****">
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn save form-btn normal-btn"> Kaydet</button>
                                            </div>
                                        </form>
                                    </div>
                                 
                                    
                                </div>
                                <div class="userInformationsContent payments">
                                    <div>
                                        <h2>Şifre ayarları</h2>
                                    </div>
                                    <div>
                                        <form action="./settings/<%= company._id %>/updateCompany" method="POST"
                                            id="change-password-form" enctype="multipart/form-data">
                                            
                                            <div class="form-group">
                                                <span>Yeni Şifre:</span>
                                                <input type="password" name="password" id="password" value="">
                                            </div>
                                            <div class="form-group">
                                                <span>Yeni Şifre Tekrar:</span>
                                                <input type="password" name="password2" id="password2" value="">
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn save form-btn normal-btn">Şifre Kaydet</button>
                                            </div>
    
                                        </form>
                                    </div>
                                    

                                </div>
                                



                            </div>

                        </div>

                    </div>
                </main>
        </section>
        <div class="modal hidden" id="modal_user">
            <div class="inner_modal">
                <h2>Genel Bilgileri Düzenle</h2>
                <form action="./settings/<%= company._id %>/updateCompanyInformations" method="POST"
                    enctype="multipart/form-data" id="informations-form">
                    <div class="form-group ">
                        <span>Marka:</span>
                        <input type="text" name="brandName"  value="<%= company.brandName %>">
                    </div>
                    <div class="form-group ">
                        <span>Şirket Adı:</span>
                        <input type="text" name="companyName"  value="<%= company.companyName %>">
                    </div>
    
    
                    <div class="form-group ">
                        <span>Email</span>
                        <input type="text" name="email"  value="<%= company.email %>"
                            placeholder="<%= company.address %>">
                    </div>
                    <div class="form-group ">
                        <span>Telefon</span>
                        <input type="text" name="phone"  value="<%= company.phone %>">
                    </div>
                    <div class="form-group ">
                        <span>Adres</span>
                        <input type="text" name="address" value="<%= company.address %>"
                            placeholder="<%= company.address %>">
                    </div>
                    <div class="form-group ">
                        <span>Fatura Adresi:</span>
                        <textarea name="billingAddress" cols="70" rows="2"><%= company.billingAddress %></textarea>
                    </div>
    
                    <div class="form-group ">
                        <span>Başlangıç Saati:</span>
                        <input type="time" name="workStart" value="<%= locals.company.workHours.workStart%>">
                        <span>Bitiş Saati:</span>
                        <input type="time" name="workEnd"  value="<%=locals.company.workHours.workEnd %>">
                        <span>Seans aralığı:</span>
                        <select name="workPeriod" >
                            <option value="<%=locals.company.workHours.workPeriod %>" selected><%=locals.company.workHours.workPeriod %>dk</option>
                            <option value="10">10dk</option>
                            <option value="15">15dk</option>
                            <option value="20">20dk</option>
                            <option value="30">30dk</option>
                            <option value="60">60dk</option>
                        </select>
    
                    </div>
    
    
                    <button type="submit" class="btn save form-btn" id="edit-user">Kaydet</button>
                    <button type="button" class="btn cancel form-btn">Vazgeç</button>
                </form>
            </div>
        </div>
        <div class="information-modal-wrapper"></div>
        <%- include('partials/loader.ejs') %>


        <script type="module" src="/js/settings.js"></script>
        <script type="module" src="/js/requests.js"></script>

        <script src="/js/sidebar.js"></script>
       




</body>

</html>