<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/users.css">
        <link rel="stylesheet" href="/css/services.css">
		

</head>

<body>
    <%- include("partials/aside.ejs") %>

        <section id="content">
            <!---------- left aside ------------->
            <%- include('partials/header.ejs') %>


                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> Sms</h1>
                    </div>
                    <div class="search">
                       
                        <div id="add_sms_btn"><button class="buttons">Sms Şablonu Ekle +</button></div>
                    </div>
                    <div class="" style="padding-left: 1rem;">
                        <h3>
                            <br>
                            Örnek Şablon:"Sevgili  {{isim}} {{soyisim}} {{randevu-tarihi}} {{randevu-saati}} tarihinde randevunuz mevcuttur."
                            <br>
                               Dönüşecek SMS:"Sevgili  ahmet soysal 12-03-2024 09:00 tarihinde randevunuz mevcuttur."
                        </h3>
                        
                        
                       
                       
                    </div>

                    <div class="print">

                        <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                        <div class="print-selection">
                            <label>Yazdır &nbsp; &#10140</label>
                            <label for="" class="to_pdf">PDF<span
                                    class="material-symbols-sharp">picture_as_pdf</span></label>

                            <label for="" class="to_xlsx">XLSX<span
                                    class="material-symbols-sharp">description</span></label>
                        </div>

                    </div>
                    <div class="table-wrapper">
                        <table id="sms-table">
                            <thead>

                                <th>sms adı<i class="fa-solid fa-arrow-up"></i></th>
                                <th>sms içeriği<i class="fa-solid fa-arrow-up"></i></th>
                                <th style="width: 10px;">sms Uzunluğu(maks 140)<i class="fa-solid fa-arrow-up"></i></th>
                                <th style="width: 10px;">Aktiflik<i class="fa-solid fa-arrow-up"></i></th>
                                
                            </thead>
                            <tbody>
                                <% smsTemplates.forEach(sms=> { %>
                                    <tr data-smsID="<%= sms._id %>">

                                        <td data-smsName="smsName">
                                            <div class="inputs">
                                                <span ><%= sms.smsName %></span>
                                                <i class="ph ph-floppy-disk input_save_buttons"></i>
                                            </div>
                                            
                                        </td>
                                        <td data-smsContent="smsContent" class="form-group">
                                            <div class="inputs">
                                                <input type="text" name="content" class="changable_inputs" value="<%= sms.content %>">
                                                
                                                <i class="ph ph-floppy-disk input_save_buttons"></i>
                                            </div>
                                        </td>
                                        <td data-smsContent="smsCredit" class="form-group">
                                            <div class="inputs">
                                                <input type="text" name="credit" class="" value="<%= sms.credit %>" readonly>
                                                
                                            </div>
                                        </td>
                                        
                                        
                                        <td style="white-space: nowrap;">
                                            <div class="inputs">
                                                <% if(sms.activeorNot===true){ %>
                                                    <span class="continue">Aktif</span>
                                                    <% } else{ %>
                                                        <span class="finish">Pasif</span>
                                                        <% } %>
    
                                                        <% if(sms.activeorNot){ %>
                                                            <a class="button"
                                                                    href="./sms/<%= sms._id %>/deactivateSmsTemplate">Pasif Et</a>
                                                            
                                                            <% } else{ %>
                                                                <a href="./sms/<%= sms._id %>/activateSmsTemplate">Aktif Et</a>
                                                                
                                                                <% } %>
                                            </div>
                                            
                                        </td>
                                     


                                    </tr>
                                    <% }) %>


                            </tbody>


                        </table>

                    </div>

                </main>


        </section>
        <div class="modal hidden" id="add_sms_modal">
            <div class="inner_modal">
                <h2>Sms Şablonu Ekle</h2>
                <div style="text-align: center;">
                    <div>Danışan adı:{{isim}}</div>
                    <div> Danışan soyadı:{{soyisim}}</div>
                    <div> Randevu Tarihi:{{randevu-tarihi}}</div>
                    <div> Randevu Saati:{{randevu-saati}}</div>
                </div>
                <form action="./sms/addSmsTemplate" method="POST" id="add-sms-form">
                    <div class="form-group ">
                        <span>Sms Adı:</span>
                        <input type="text" name="smsName" id="smsName" required placeholder="örn. doğum günü">
                    </div>
                    <div class="form-group ">
                        <span>Sms İçeriği:</span>
                        <textarea name="content" id="sms-content" required placeholder="sevgili {{isim}}"></textarea>
                    </div>
                  
                   <div ><span id="remaining">155</span> Karakter kaldı.</div>
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="add-sms">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="toast-container"></div>


        <script type="module" src="/js/main.js"></script>
        <script src="/js/sidebar.js"></script>
        <script type="module" src="/js/sms.js"></script>
        





</body>

</html>