<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/users.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">


</head>

<body>
    <%- include("partials/aside.ejs") %>
        <section id="content">
            <%- include('partials/header.ejs') %>
                <!---------- left aside ------------->


                <main>

                    <div class="header">
                        <h1> Hastalar</h1>
                    </div>


                    <div class="search">
                        <form autocomplete="off" action="./users/search">
                            <div class="autocomplete form-group">
                                <input id="myInput" type="text" name="name" placeholder="Hasta Seç">
                                <input id="myInput" type="text" name="surname" placeholder="Soyad">
                                <input id="myInput" type="text" name="phone" placeholder="telefon">
                                <input id="myInput" type="text" name="identify" placeholder="TC">
                                <input type="submit" value="Ara">
                            </div>

                        </form>
                        <div class="add_customer_btn">Hasta Ekle +</div>

                    </div>

                    <div class="print">

                        <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                        <div class="print-selection">
                            <label>Yazdır&nbsp; &#10140</label>
                            <label for="" class="to_pdf">PDF<span
                                    class="material-symbols-sharp">picture_as_pdf</span></label>

                            <label for="" class="to_xlsx">XLSX<span
                                    class="material-symbols-sharp">description</span></label>
                        </div>

                    </div>
                    <div class="table-wrapper">
                        <table>
                            <thead>

                                <th>İsim<i class="fa-solid fa-arrow-up"></i></th>
                                <th>Soyisim<i class="fa-solid fa-arrow-up"></i></td>
                                <th>Telefon<i class="fa-solid fa-arrow-up"></i></td>
                                <th>TC no<i class="fa-solid fa-arrow-up"></i></td>
                            </thead>
                            <tbody id="userList">
                                <% users.forEach(element=> { %>
                                    <tr>
                                        <td>
                                            <%= element.name %>
                                        </td>
                                        <td>
                                            <%= element.surname %>
                                        </td>
                                        <td><span class=""> <%=element.phone%></span> </td>
                                        <td><span class=""> <%=element.identity%></span> </td>

                                        <td class="details"><a href="./users/<%= element._id %>">Detay</a></td>
                                    </tr>
                                    <% }) %>



                            </tbody>


                        </table>

                    </div>

                    <div class="pagination-describe">
                        Toplam <%= total %> hasta içerisinden <%= count %> kişi listelendi
                    </div>
                    <div class="pagination">

                        <% if (pagination.previous ) { %>
                            <a
                                href="./users?page=<%= pagination.previous.page %>&limit=<%= pagination.previous.limit %>"><span>Önceki
                                    Sayfa<<<< /a>
                                        <% } %>

                                            <% if (pagination.page>1) { %>
                                                <a href="./users?page=<%= pagination.page-1 %>&limit=<%=3 %>"><span>
                                                        <%= pagination.page-1 %>
                                                    </span></a>
                                                <% } %>

                                                    <a href="./users?page=<%= pagination.page %>&limit=<%=3 %>"><span
                                                            class="page-active">
                                                            <%= pagination.page %>
                                                        </span></a>

                                                    <% if (pagination.page<pagination.lastpage) { %>
                                                        <a href="./users?page=<%= pagination.page+1 %>&limit=<%=3 %>"><span>
                                                                <%= pagination.page+1 %>
                                                            </span></a>
                                                        <% } %>


                                                            <% if (pagination.next) { %>
                                                                <a
                                                                    href="./users?page=<%= pagination.next.page %>&limit=<%= pagination.next.limit %>"><span>
                                                                        >>Sonraki Sayfa</span></a>
                                                                <% } %>

                    </div>

                </main>

                </seciton>
                <div class="modal hidden" id="add_customer">
                    <div class="inner_modal">
                        <h2>Yeni Hasta Ekle</h2>
                        <form action="./users/createUser" method="POST" id="register-form">
                            <div class="form-group ">
                                <span>İsim</span>
                                <input type="text" name="name" id="user-name" required placeholder="İsim giriniz">
                            </div>
    
                            <div class="form-group ">
                                <span>Soyisim</span>
                                <input type="text" name="surname" id="surname" placeholder="soyisim giriniz" required>
                            </div>
                            <div class="form-group ">
                                <span>Telefon</span>
                                <input placeholder="başında '0' olmadan girin" type="tel" name="phone" id="phone" required
                                    pattern="[0-9]{10}" maxlength="10">
                            </div>
                            <div class="options">
                                <span>Cinsiyet:</span>
                                <div>
                                    <input type="radio" id="sex-women" name="sex" value="female">
                                    &nbsp; <label for="sex-women">Kadın</label>
    
                                    <input type="radio" id="sex-man" name="sex" value="male">
                                    &nbsp; <label for="sex-man">Erkek</label>
    
                                </div>
    
                            </div>
                            <div class="form-group ">
                                <span>Doğum Tarihi</span>
                                <input type="date" name="birtdhDate" id="birtdhDate">
                            </div>
                            <div class="form-group ">
                                <span>Adres</span>
                                <input type="text" name="address" id="address">
    
                            </div>
    
                            <div class="form-group ">
                                <span>Mail</span>
                                <input type="email" name="email" id="email">
                            </div>
    
                            <div class="form-group ">
                                <span>Fatura Bilgisi:</span>
                                <textarea name="billingAddress" id="billingAddress" rows="2"></textarea>
                            </div>
                            <div class="form-group">
                                <span>Açıklama</span>
                                <textarea name="notes" id="notes" rows="2"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn save form-btn" id="add-user">Kaydet</button>
                                <button type="button" class="btn cancel form-btn">Vazgeç</button>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="information-modal-wrapper"></div>




                <script type="module" src="../js/users.js"></script>
                <script type="module" src="../js/main.js"></script>

                <script type="module" src="../js/inner_modules/tables.js"></script>
                <script type="module" src="../js/inner_modules/print.js"></script>

                <script src="/js/sidebar.js"></script>










</body>

</html>