<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>

        <link rel="stylesheet" href="/css/user-details.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/zoom.css">



        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zoomist@2/zoomist.css" />

        <!-- scripts -->



</head>

<body>
    <%- include("partials/aside.ejs") %>
        <section id="content">
            <!---------- left aside ------------->

            <th%- include('partials/header.ejs') %>

                <!----------- end of sidebar ----------->

                <main>
                    <div class="user-informations" data-userıd="<%= singleUser._id %>">

                        <div class="left_section">
                            <div class="user-img"><i class="ph-bold ph-user"></i></div>
                            <span>
                                <%= singleUser.name %>
                                    <%= singleUser.surname %>
                            </span>



                            <div class="show-content informations">Bilgiler<i
                                    class="fa-solid fa-pen-to-square edit"></i>
                            </div>
                            <div class="show-content appointments">Randevular
                                <i class="fa-solid fa-pen-to-square edit"></i>
                            </div>
                            <div class="show-content payment">Tahsilatlar
                                <i class="fa-solid fa-pen-to-square edit"></i>
                            </div>



                            <div class="show-content operations">İşlemler
                                <i class="fa-solid fa-pen-to-square edit"></i>
                            </div>
                        </div>


                        <div class="right_section">
                            <div class="contents">

                                <div class="userInformationsContent showed_content  generals">
                                    <div>
                                        <h2>Bilgiler</h2>
                                    </div>

                                    <div class="contentBody">
                                        <div class="form-group">
                                            <span>İsim</span>
                                            <input type="text" name="" id="name" value="<%= singleUser.name %>"
                                                readonly>
                                        </div>
                                        <div class="form-group">
                                            <span>Soyisim</span>
                                            <input type="text" name="" id="surname" value="<%= singleUser.surname %>"
                                                readonly>
                                        </div>
                                        <div class="form-group">
                                            <span>TC</span>
                                            <input type="text" name="" id="surname" value="<%= singleUser.identity %>"
                                                readonly>
                                        </div>
                                        <div class="form-group">
                                            <span>Kayıt Tarihi:</span>
                                            <input type="text" name="" id="surname"
                                                value="<%= singleUser.createdAt.toLocaleDateString()%>" readonly>
                                        </div>
                                        <div class="options ">
                                            <span>Cinsiyet</span>
                                            <% if(singleUser.sex==="male" ){ %>
                                                <div>

                                                    <input type="radio" id="sex-man" name="sex" value="male"
                                                        checked="checked">
                                                    &nbsp; <label for="sex-man">Erkek</label>

                                                </div>
                                                <% } else{ %>
                                                    <div>
                                                        <input type="radio" id="sex-women" name="sex" value="female"
                                                            checked="checked">
                                                        &nbsp; <label for="sex-women">Kadın</label>

                                                    </div>
                                                    <% } %>
                                        </div>
                                        <div class="form-group">
                                            <span>Doğum Tarihi</span>
                                            <input type="date" name="" id="" value="<%= singleUser.birthDate %>"
                                                readonly>
                                        </div>
                                        <div class="form-group">
                                            <span>Email</span>
                                            <input type="email" name="" id="" value="<%= singleUser.email %>" readonly>
                                        </div>

                                        <div class="form-group">
                                            <span>Adres:</span>
                                            <input type="text" value="<%= singleUser.address %>" readonly>
                                        </div>
                                        <div class="form-group">
                                            <span>Şirket:</span>
                                            <input type="text" value="<%= singleUser.userCompany %>" readonly>
                                        </div>
                                        <div class="form-group">
                                            <span>Fatura Adresi:</span>
                                            <input type="text" name="" id="" value="<%= singleUser.billingAddress %>"
                                                readonly>

                                        </div>
                                        <div class="form-group">
                                            <span>Telefon</span>
                                            <input type="number" name="" id="" value="<%= singleUser.phone %>" readonly>
                                        </div>


                                        <div class="form-group">
                                            <span>Açıklama</span>
                                            <input type="text" name="" id="" value="<%= singleUser.notes %>" readonly>
                                        </div>
                                    </div>
                                    <span class="edit-informations-btn">Düzenle</span>


                                </div>
                                <div class="userInformationsContent  sessions ">
                                    <div>
                                        <h2>Randevular</h2>
                                    </div>
                                    <div class="contentBody">

                                        <div class="table-wrapper">
                                            <table>
                                                <thead>

                                                    <th>Tarih<i class="fa-solid fa-arrow-up"></i></th>
                                                    <th>Saat</th>
                                                    <th>Personel<i class="fa-solid fa-arrow-up"></i></th>
                                                    <th>İşlemler</td>
                                                    <th>Notlar</th>
                                                    <th>Randevu Durumu<i class="fa-solid fa-arrow-up"></i></th>
                                                </thead>
                                                <tbody class="sessionTableBody">

                                                </tbody>



                                            </table>

                                        </div>
                                    </div>


                                </div>
                                <div class="userInformationsContent payments">
                                    <div>
                                        <h2>Ödemeler</h2>
                                    </div>
                                    <div class="contenBody">
                                        <div class="table payment-table">
                                            <table>
                                                <thead>

                                                    <th>Tarih</th>
                                                    <th>K.Kartı/Nakit</td>
                                                    <th>Tutar</td>
                                                </thead>
                                                <tbody></tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td></td>

                                                        <td>Toplam:</td>
                                                        <td id="total-value"> 0</td>
                                                    </tr>
                                                </tfoot>

                                            </table>

                                        </div>
                                    </div>


                                </div>

                                <div class="userInformationsContent procces">
                                    <div>
                                        <h2>İşlemler</h2>
                                    </div>
                                    <div class=""><button class="btn add normal-btn" id="order_btn">İşlem Ekle+</button>
                                    </div>
                                    <div class="table-wrapper">
                                        <table class="order-table">
                                            <thead>

                                                <th>
                                                    <div class="table_head">
                                                        Kayıt Tarihi<i class="fa-solid fa-arrow-up"></i>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="table_head">
                                                        İşlemler<i class="fa-solid fa-arrow-up"></i>
                                                    </div>
                                                </th>

                                                <th>
                                                    <div class="table_head">
                                                        İşlem Durumu<i class="fa-solid fa-arrow-up"></i>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="table_head">
                                                        Mevcut Randevu<i class="fa-solid fa-arrow-up"></i>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="table_head">
                                                        Randevular<i class="fa-solid fa-arrow-up"></i>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="table_head">
                                                        Datalar<i class="fa-solid fa-arrow-up"></i>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="table_head">
                                                        Fiyat<i class="fa-solid fa-arrow-up"></i>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="table_head">
                                                        İndirim<i class="fa-solid fa-arrow-up"></i>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="table_head">
                                                        Ödenen/Toplam<i class="fa-solid fa-arrow-up"></i>
                                                    </div>
                                                </th>

                                            </thead>
                                            <tbody>

                                            </tbody>


                                        </table>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </main>






                <div class="information-modal-wrapper"></div>
                <%- include('partials/loader.ejs') %>

        </section>

        <div class="modal hidden" id="modal_user">
            <div class="inner_modal">
                <h2>Genel Bilgileri Düzenle</h2>

                <form action="./<%= singleUser._id %>/editInformations" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <span>İsim</span>
                        <input type="text" name="name" id="user-name" value="<%= singleUser.name %>">
                    </div>

                    <div class="form-group">
                        <span>Soyisim</span>
                        <input type="text" name="surname" id="user-surname" value="<%= singleUser.surname %>">
                    </div>
                    <div class="form-group">
                        <span>TC</span>
                        <input type="text" name="identity" id="identity" value="<%= singleUser.identity %>">
                    </div>
                    <div class="form-group">
                        <span>Email</span>
                        <input type="text" name="email" id="" value="<%= singleUser.email %>">
                    </div>
                    <div class="options">
                        <span>Cinsiyet:</span>
                        <% if(singleUser.sex==="male" ){ %>
                            <div>
                                <input type="radio" id="sex-women-update" name="sex" value="female">
                                &nbsp; <label for="sex-women-update">Kadın</label>

                                <input type="radio" id="sex-man-update" name="sex" value="male" checked="checked">
                                &nbsp; <label for="sex-man-update">Erkek</label>

                            </div>
                            <% } else{ %>
                                <div>
                                    <input type="radio" id="sex-women-update" name="sex" value="female"
                                        checked="checked">
                                    &nbsp; <label for="sex-women-update">Kadın</label>

                                    <input type="radio" id="sex-man-update" name="sex" value="male">
                                    &nbsp; <label for="sex-man-update">Erkek</label>

                                </div>
                                <% } %>

                    </div>
                    <div class="form-group">
                        <span>Adres</span>
                        <input type="text" name="address" id="" value="<%= singleUser.address %>"
                            placeholder="<%= singleUser.address %>">
                    </div>
                    <div class="form-group">
                        <span>Telefon</span>
                        <input type="number" name="phone" id="phone" value="<%= singleUser.phone %>">
                    </div>
                    <div class="form-group">
                        <span>Şirket</span>
                        <input type="text" name="userCompany" id="" value="<%= singleUser.userCompany %>">
                    </div>
                    <div class="form-group">
                        <span>Fatura Bilgisi:</span>
                        <textarea name="billingAddress" id="" cols=""
                            rows="2"><%= singleUser.billingAddress %></textarea>
                    </div>
                    <div class="form-group">
                        <span>Açıklama</span>
                        <textarea name="notes" id="" cols="" rows="2"><%=singleUser.notes%></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn save form-btn" type="submit" id="edit-user">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>


                </form>
            </div>
        </div>
        <div class="modal hidden" id="allSessionsofOperationModal">
            <div class="inner_modal">
                <h2>Seanslar</h2>
                <div class="allsessionOfOperationContent">
                    <table>
                        <thead>
                                <tr>
                                    <th>Seans Tarihi</th>
                                    <th>Seans Durumu</th>
                                    <th>Seans Data</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                      </table>

                </div>
                <div class="form-group">
                    <button type="button" class="btn cancel form-btn">Kapat</button>
                </div>
              



            </div>
        </div>
        <div class="modal hidden" id="modal_order">
            <div class="inner_modal">
                <h2>İşlem Ekle</h2>

                <form action="./<%= singleUser._id %>/addOperation" onsubmit="return false" method="POST"
                    enctype="multipart/form-data">


                    <div class="form-group">
                        <span>İşlem:</span>
                        <select class="proccess_type_add">

                            <option value="" selected disabled hidden>İşlem seçiniz</option>
                            <% locals.company.services.forEach(service=> { %>
                                <% if (service.activeorNot===true) { %>
                                    <option value="<%= service.serviceName %>" data-price="<%= service.servicePrice %>"
                                        data-serviceid="<%= service._id %>" <% if(service.serviceData.length!==0){ %>
                                        data-serviceData="<%= service.serviceData[0] %>"
                                            <% } else{ %>

                                                <% } %>

                                                    >

                                                    <%= service.serviceName %>
                                    </option>
                                    <% } %>

                                        <% }) %>

                        </select>
                    </div>

                    <div class="selected_proccess_type_add">
                        <table id="selected_proccess_table">
                            <thead>
                                <td>Hizmet</td>
                                <td>Seans Sayısı</td>
                                <td>Fiyat</td>
                            </thead>

                            <tbody>
                            </tbody>
                            <tfoot>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Yüzde İndirimi: <input type="number" id="percent_discount"></td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>toplam:</td>
                                    <td id="total_value"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="processes_datas form-group">
                    </div>
                    <div class="form-group">
                        <button class="btn save form-btn" type="submit" id="edit-user">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="modal hidden" id="modal_image">
            <div class="inner_modal">
                <h2>Resim Ekle</h2>

                <form action="./<%= singleUser._id %>/uploadpictures" data-operationid="" method="POST"
                    enctype="multipart/form-data" id="add_picture_form">

                    <div class="form-group">
                        <span>Resim seç</span>
                        <input type="file" name="upload_file" id="upload_file" class="upload_file" src="" alt=""
                            multiple required>
                    </div>
                    <div class="uploaded_images_preview"></div>
                    <div class="form-group">
                        <span>çekilme zamanı:</span>
                        <input type="number" name="uploadTime" id="uploadTime" required>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="add-img-save-button">Kaydet</button>
                        <button type="button" class="btn cancel form-btn" id="cancel-add-photo">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal hidden" id="add-data-modal">
            <div class="inner_modal">
                <h2>Veri Ekle</h2>

                <form action="" id="add-data-form" data-operationid="">
                    <div class="form-group">Veri Adı:
                        <select name="datas" id="datas_select_input">
                            <option value="" selected disable hidden>Veri seçiniz</option>
                            <% locals.company.serviceDatas.forEach(element=> { %>
                                <option value="<%= element._id %>">
                                    <%= element.dataName %>
                                </option>

                                <% }) %>
                        </select>

                        <div style="display: none;">
                            Opsiyon:
                            <select name="datasOption" id="datasOptions_select_input">
                                <option value="" selected disable hidden>seçiniz</option>
                                <% locals.company.serviceDatas[0].dataOptions.forEach(element=> { %>
                                    <option value="">
                                        <%= element %>
                                    </option>

                                    <% }) %>
                            </select>
                        </div>
                        <div style="display:none">
                            Sayısal Değer:
                            <input name="dataOptionNumberValue" id="dataOptionNumberValue" type="Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="add-data-save-button">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal hidden" id="add-session-modal">
            <div class="inner_modal">
                <h2>Seans Ekle</h2>
                <form action="" id="add-session-form" data-operationid="">

                    <div class="form-group">Eklenecek Seans:
                        <input type="Number" min="1" id="add-session" name="addsession">

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="add-session-save-button">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>



        </div>

        <div class="modal hidden" id="add_discount_modal">
            <div class="inner_modal">

                <h2>İndirim Tanımla</h2>

                <form action="" id="add-discount-form" data-operationid="">

                    <div class="form-group">İndirim Miktarı(%)
                        <input type="text" name="percentDiscountValue" id="percentDiscountValue" value="">
                    </div>
                    <div class="form-group">İndirim Miktarı(TL)
                        <input type="text" name="discountValue" id="discountValue" value="">
                    </div>

                    <form-gro>
                        <button type="submit" class="btn save form-btn" id="add-discount-save-button">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </form-gro>
                </form>
            </div>


        </div>
        <div class="modal hidden" id="edit-data-modal">
            <div class="inner_modal">
                <h2>Veri düzenle</h2>
                <form action="" id="edit-data-form">

                    <div class="form-group">Veri Adı:
                        <input type="text" name="dataName" id="dataName" value="" readonly>
                    </div>
                    <div class="form-group">Opsiyon:
                        <select name="editDataOption" id="edit_data_option"></select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="edit-data-save-button">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>
                </form>
            </div>


        </div>
        <div class="modal hidden" id="modal_edit_payment">
            <div class="inner_modal">
                <h2>Ödeme Düzenle</h2>
                <form action="" method="POST" id="edit-payment-form">
                    <div class="form-group" id="payment_user_edit">
                        <input type="text" value="aaa" readonly>
                    </div>

                    <div class="selected_proccess_type_edit">
                        <table class="selected_proccess_table_edit">
                            <thead>
                                <td>Ürün/Hizmet</td>
                                <td>Adet</td>
                                <td>Fiyat</td>
                                <td>İndirim(TL)</td>
                                <td>İndirim(%)</td>
                                <td>Son Fiyat</td>
                                <td>Ödenen</td>
                            </thead>
                            <tbody>


                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>toplam:</td>
                                    <td id="total_value_edit"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="payment_options ">
                        <span>Tahsilat:</span>
                        <div>
                            <input type="radio" id="credit_card_ratio_edit" name="cashOrCard" value="Kredi Kartı">
                              <label for="credit_card_ratio_edit">Kredi Kartı</label>
                        </div>
                        <div>
                            <input type="radio" id="cash_ratio_edit" name="cashOrCard" value="Nakit">
                              <label for="cash_ratio_edit">Nakit</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Notlar:</label>
                        <textarea name="description" id="description_for_edit" cols="10" rows="3"></textarea>
                         
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn save form-btn" id="">Kaydet</button>
                        <button type="button" class="btn cancel form-btn">Vazgeç</button>
                    </div>



                </form>
            </div>

        </div>

        <div class="modal hidden" id="modal_slider">
            <div class="inner_modal slider-modal">

                <div class="operation-image-informations">
                    <span class="operation-name">Mezoterapi</span>
                </div>

                <!-- zoomist-container -->
                <div class="zoomist-container slider">
                    <!-- zoomist-wrapper is required -->
                    <div class="zoomist-wrapper">
                        <!-- zoomist-image is required -->
                        <div class="zoomist-image">
                            <!-- you can add anything you want to zoom here. -->
                            <img src="/photos/images-preview.jpg" alt="cat" />
                        </div>
                    </div>
                </div>
                <div class="small_images">

                </div>
                <i class="fa-solid fa-xmark"></i>

            </div>


        </div>




        </div>


        <script type="module" src="/js/requests.js"></script>
        <script type="module" src="/js/user_details.js"></script>
        <script type="module" src="/js/inner_modules/tables.js"></script>

        <script src="/js/sidebar.js"></script>




</body>

</html>