<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>E-işletmem-Ödeme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-574-mexant.css">

  <script src="//code.jivosite.com/widget/evvUheNYIv" async></script>


  <!--

TemplateMo 574 Mexant

https://templatemo.com/tm-574-mexant

-->
</head>

<body>


  <!-- ***** Header Area Start ***** -->
  <%- include('../partials/header-front.ejs') %>
    <!-- ***** Header Area End ***** -->

    <section>
      <div class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="header-text">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- ***** Main Banner Area End ***** -->

    <section class="map">
      <div class="container">
        <div class="row">
          <div class="div-dec"></div>
          <div class="col-lg-10 offset-lg-1">
            <div class="row">

              <div class="col-lg-12">
                <div class="info-item">

                  <% if(locals.success===true){ %>
                    <i class="fa-solid fa-money-check"></i>
                    <h4>
                      <%= locals.message %>
                    </h4>
                    <h4>Yönlendiriliyorsunuz...</h4>
                    <% } else{ %>
                      <i class="fa-solid fa-circle-exclamation"></i>
                      <h4>
                        <%= locals.message %>
                      </h4>
                      <% } %>



                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      </div>
    </section>


    <section class="contact-us-form">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">

          </div>
          <div class="col-lg-10 offset-lg-1">


          </div>
        </div>
      </div>
    </section>
    <%- include('../partials/loader.ejs') %>



    <%- include('../partials/front-footer.ejs') %>

      <!-- Scripts -->
      <!-- Bootstrap core JavaScript -->

      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <script src="assets/js/isotope.min.js"></script>
      <script>
          const loaderMessage=document.getElementById("loader_message")
          loaderMessage.textContent="Ödemeniz başarıyla alındı. bekleyiniz"
        setTimeout(() => {
          window.location.assign("/admin/companyPaymentsList")
        }, 2000);

      </script>




</body>

</html>