<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/superAdmin.css">
</head>

<body>
    <%- include("../partials/aside.ejs") %>
        <section id="content">
            <!---------- left aside ------------->
            
            <%- include('../partials/header.ejs') %>

                <!----------- end of sidebar ----------->

                <main>
                    <div class="header">
                        <h1> BAYİLER</h1>
                    </div>

                  
                    <div class="print">

                        <span class="material-symbols-sharp print-icon" title="yazdır"> print</span>
                        <div class="print-selection">
                            <label>Export As &nbsp; &#10140</label>
                            <label for="" class="to_pdf" onclick="window.print()">PDF<span
                                    class="material-symbols-sharp">picture_as_pdf</span></label>
                            <label for="" class="to_json">JSON<span class="material-symbols-sharp"></span></label>
                            <label for="" class="to_xlsx">XLSX<span
                                    class="material-symbols-sharp">description</span></label>
                        </div>

                    </div>
                    <div class="table-wrapper">
                        <table >
                            <thead>
                                
                                
                                <th>companyName<span class="material-symbols-sharp">north</span></th>
                                <th>email<span class="material-symbols-sharp">north</span></th>
                                <th>authorizedName<span class="material-symbols-sharp">north</span></th>
                                <th>Register Date<span class="material-symbols-sharp">north</span></th>
                                
                               
                                
                            </thead>
                            <tbody id="userList">
                                <% companies.forEach(company=> { %>
                                    <tr data-companyId="<%= company._id %>">
                                        
                                        <td>
                                            <%= company.companyName %>
                                        </td>
                                        <td>
                                            <%= company.email %>
                                        </td>
                                        <td>
                                            <%= company.authorizedName %>
                                        </td>
                                        <td>
                                            <%= company.registerDate.toLocaleDateString("tr-TR")%>//
                                            <%= company.registerDate.toLocaleTimeString()%>

                                        </td>
                                        

                                        <td><a href="./companies/<%= company._id %>">Detaylar</a></td>
                                        <td><select name="" class="company_options_select">
                                            
                                            <option value="" selected disable hidden>Seçenekler</option>
                                            <option value="docs">Dosyaları Göster</option>
                                            <option value="smsFunctionUpdate">Sms Gönderimi Değiştir.</option>
                                        </select></td>
                                    </tr>
                                    <% }) %>


                            </tbody>


                        </table>

                    </div>
                    
                    
                    

                </main>
            </section>

            <div class="modal hidden" id="modal_company_doc">
                <div class="inner_modal">
                    <h2>Şirket Evrakları</h2>
                    <div class="data_area">

                    </div>
                    <button type="button" class="btn cancel form-btn">Kapat</button>
                </div>
            </div>

            <div class="modal hidden" id="modal_company_sms_active">
                <div class="inner_modal">
                    <h2>Sms</h2>
                    <div class="data_area">

                    </div>
                    <button type="button" class="btn cancel form-btn">Kapat</button>
                </div>
            </div>

            <div class="toast-container"></div>
            <%- include('../partials/loader.ejs') %>


        
        <script type="module" src="../js/requests.js"></script>
        <script type="module" src="../js/ui.js"></script>
        <script type="module" src="../js/superAdmin.js"></script>
        <script src="/js/sidebar.js"></script>



</body>

</html>